.btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  box-shadow: 0 2px 3px 0 #33333333;
  border: none;
  background-color: #e0e0e0;
  color: #3f3f3f;
  padding: var(--padding-y) calc(var(--padding-y) * 2);

  &:hover:enabled,
  &:focus:enabled {
    background-color: #aeaeae;
  }

  &:disabled {
    color: #9e9e9e;
  }

  &--outline {
    --outline-color: #3d5afe;

		background-color: transparent;
    color: var(--outline-color);
    outline: solid 1px var(--outline-color);
    box-shadow: none;

    &:hover:enabled,
    &:focus:enabled {
      background-color: #2962ff1a;
    }
  }

  &--text {
    color: #3d5afe;
    background-color: transparent;
    box-shadow: none;

    &:hover:enabled,
    &:focus:enabled {
      background-color: #2962ff1a;
    }
  }

  &--no-shadow {
    box-shadow: none;
  }

  &--sm {
    --padding-y: 6px;
    height: 32px;
  }
  &--md {
    --padding-y: 8px;
    height: 36px;
  }
  &--lg {
    --padding-y: 11px;
    height: 42px;
  }

  &--primary {
    background-color: #2962ff;
    color: #fff;

    &:hover:enabled,
    &:focus:enabled {
      background-color: #0039cb;
    }
  }
  &--secondary {
    background-color: #455a64;
    color: #fff;

    &:hover:enabled,
    &:focus:enabled {
      background-color: #1c313a;
    }
  }
  &--danger {
    background-color: #d32f2f;
    color: #fff;

    &:hover:enabled,
    &:focus:enabled {
      background-color: #9a0007;
    }
  }
}
