.weather {
  grid-area: aside;
  display: grid;
  grid-template-rows: auto 2fr 2fr 1fr;
  align-items: center;

  background-color: var(--blue-dark);
  background-image: url("/cloud-background.png");
  background-repeat: no-repeat;
  background-position-y: top 10%;
  background-position-x: center;
  padding: 42px;

  color: #fff;
  text-align: center;

  header {
    display: flex;
    justify-content: space-between;
  }

  --button-bg: #6e707a;
  --button-bg-hover: #56575f;
  --button-color: #fff;
  &__search {
    --button-radius: 0;
    --button-font-family: "Raleway", sans-serif;
    font-size: 16px;
  }
  &__current {
    --button-radius: 50%;
  }

  &__degree {
    font-size: 144px;
    font-weight: 500;
  }
  &__degree-unit {
    color: var(--gray);
    font-size: 48px;
  }

  &__description {
    color: var(--gray);
    font-size: 36px;
    font-weight: 600;
  }

  &__date {
    color: var(--gray-dark);
    font-size: 18px;
    font-weight: 500;
  }

  &__icon {
    margin-top: 10%;
    margin-inline: auto;
  }

  &__location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    margin-top: 32px;

    color: var(--gray-dark);
    font-weight: 600;
    font-size: 18px;
  }
}
