@use "../scss/mixins";

.forecast {
  display: grid;
  grid-template-columns: var(--forecast-grid-columns, repeat(5, 1fr));
  gap: 26px;

  color: #fff;
}
.forecast-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  background-color: var(--blue-dark);
  padding: 18px 15px;

  &__day {
    font-size: 16px;
    font-weight: 500;

    @include mixins.skeleton {
      width: 90px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;

    img {
      width: 45%;
    }

    @include mixins.skeleton {
      width: 90px;
      height: 72px;
    }
  }

  &__degrees {
    display: flex;
    gap: 16px;

    margin: 0;
    margin-top: 30px;

    font-size: 16px;
    font-weight: 500;

    :last-child {
      color: var(--gray);
    }

    @include mixins.skeleton {
      width: 48px;
    }
  }
}
