.highlights {
  display: grid;
  grid-template-columns: var(--highlights-grid-columns, 1fr 1fr);
  gap: 48px;

  color: #fff;

  h2 {
    grid-column: span 2;
    font-size: 24px;
    font-weight: 700;

    @media (max-width: 767px) {
      grid-column: span 1;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    background-color: var(--blue-dark);
    padding-block: 22px;

    h3 {
      font-size: 16px;
      font-weight: 500;
    }
  }

  &__value {
    font-size: 64px;
    font-weight: 700;
  }
  &__unit {
    font-size: 36px;
    font-weight: 500;
  }
}
