.highlights {
  display: grid;
  grid-template-columns: var(--highlights-grid-columns, 1fr 1fr);
  gap: 48px;

  color: #fff;

  h2 {
    grid-column: span 2;
    font-size: 24px;
    font-weight: 700;

    @media (max-width: 767px) {
      grid-column: span 1;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    background-color: var(--blue-dark);
    padding-block: 22px;

    h3 {
      font-size: 16px;
      font-weight: 500;
    }
  }

  // TODO: Add classes for highlights__value, highlights__unit
  .visibility {
    &__distance {
      font-size: 64px;
      font-weight: 700;

      &::after {
        content: " miles";
        font-size: 36px;
        font-weight: 500;
      }
    }
  }

  .air-pressure {
    &__pressure {
      font-size: 64px;
      font-weight: 700;

      &::after {
        content: " mb";
        font-size: 36px;
        font-weight: 500;
      }
    }
  }
}
