.highlights {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header     header"
    "wind       humidity"
    "visibility air-pressure";
  gap: 48px;

  color: #fff;

  h2 {
    grid-area: header;
    font-size: 24px;
    font-weight: 700;
  }

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    background-color: var(--blue-dark);
    padding: 22px 50px;

    h3 {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .wind {
    &__speed {
      font-size: 64px;
      font-weight: 700;

      &::after {
        content: "mph";
        font-size: 36px;
        font-weight: 500;
      }
    }

    &__direction {
      display: flex;
      align-items: center;
      gap: 8px;

      font-size: 14px;
      font-weight: 500;
    }
    &__direction-icon-wrapper {
      display: flex;
      align-items: center;

      background-color: #6e707a;
      padding: 8px;
      border-radius: 50%;
    }
  }

  .humidity {
    &__percentage {
      font-size: 64px;
      font-weight: 700;

      &::after {
        content: "%";
        font-size: 36px;
        font-weight: 400;
      }
    }
  }
  .humidity-slider {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;

    color: var(--gray);
    font-size: 12px;
    font-weight: 700;

    &__legend {
      display: flex;
      justify-content: space-between;
    }

    &__bar-wrapper {
      position: relative;
      height: 8px;
      width: 100%;
      border-radius: 80px;
    }
    &__bar {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: inherit;
    }
    &__value {
      position: absolute;
      display: block;
      height: 100%;
      background-color: #ffec65;
      border-radius: inherit;
    }
    &__symbol {
      margin-left: auto;
    }
  }

  .visibility {
    &__distance {
      font-size: 64px;
      font-weight: 700;

      &::after {
        content: " miles";
        font-size: 36px;
        font-weight: 500;
      }
    }
  }

  .air-pressure {
    &__pressure {
      font-size: 64px;
      font-weight: 700;

      &::after {
        content: " mb";
        font-size: 36px;
        font-weight: 500;
      }
    }
  }
}
