@use "../scss/mixins";

.humidity {
  padding-inline: 50px;

  .highlights__value {
    @include mixins.skeleton {
      width: 100px;
    }
  }
}
.humidity-slider {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  color: var(--gray);
  font-size: 12px;
  font-weight: 700;

  &__legend {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    span {
      text-align: center;
      &:first-child {
        text-align: left;
      }
      &:last-child {
        text-align: right;
      }
    }
  }

  &__bar-wrapper {
    position: relative;
    height: 8px;
    width: 100%;
    border-radius: 80px;
  }
  &__bar {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: inherit;
  }
  &__value {
    position: absolute;
    display: block;
    height: 100%;
    background-color: #ffec65;
    border-radius: inherit;
  }

  &__symbol {
    margin-left: auto;
  }
}
