.search-drawer__results {
  display: grid;
  gap: 12px;

  width: min(100%, 372px);
  padding: 0;
  list-style: none;

  --button-justify-content: space-between;
  --button-bg: transparent;
  --button-bg-hover: transparent;
  --button-padding: 22px 12px;
  --button-radius: 0;
  --button-text: currentcolor;
  --button-font-size: var(--fs-1);
  --button-font-weight: 500;
  --icon-color: transparent;
  .button {
    cursor: pointer;

    &:hover,
    &:focus-visible {
      --icon-color: var(--secondary-dark);
      outline: solid 1px var(--secondary-dark);
    }
  }
}
