.search-drawer {
  display: flex;
  flex-direction: column;
  gap: 38px;

  position: absolute;
  grid-column: 1 / 1;

  background-color: var(--blue);
  width: 100%;
  height: 100%;
  padding: 46px;
  padding-top: 12px;

  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 10;

  @media (max-width: 767px) {
    padding: 12px;
  }
  @media (max-width: 1440px) {
    align-items: center;
  }

  &--open {
    transform: translateX(0);
  }

  &__close {
    margin-left: auto;
    --icon-color: #e7e7eb;
    cursor: pointer;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    max-width: 372px;
    gap: 16px;

    .input-wrapper {
      display: flex;
      align-items: center;
      gap: 16px;

      max-width: 270px;
      border: 1px solid;
      padding: 12px;

      color: #e7e7eb;

      --icon-color: #616475;

      input {
        width: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 0;

        color: inherit;
        font-family: inherit;
        font-weight: 500;
        font-size: 1rem;
      }
    }

    --button-radius: 0;
    --button-font-weight: 600;
    .button {
      font-family: inherit;
    }
  }

  .loader-ring {
    margin-inline: auto;
    --loader-color: #e7e7eb;
    --loader-speed: 0.75s;
  }
}
