.search-drawer__results {
  display: grid;
  gap: 12px;

  width: min(100%, 372px);
  padding: 0;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 22px 12px;
    color: #e7e7eb;
    font-size: 1rem;
    font-weight: 500;
    --icon-color: transparent;

    cursor: pointer;

    &:hover {
      outline: solid 1px #616475;
      --icon-color: #616475;
    }
  }
}
