.temperature-converter {
  position: absolute;
  top: var(--converter-top-offset, 42px);
  right: var(--converter-right-offset, 150px);

  display: flex;
  gap: 12px;

  &__button {
    aspect-ratio: 1 / 1;

    width: 40px;
    --button-bg: #585676;
    --button-bg-hover: #37364a;
    --button-padding: 10px;
    --button-radius: 40px;
    --button-color: var(--gray-light);
    --button-font-family: "Raleway";
    --button-font-weight: 700;
    font-size: 18px;

    &--active {
      --button-color: var(--blue-very-dark);
      --button-bg: var(--gray-light);
      --button-bg-hover: var(--gray-light);
    }
  }
}
