.temperature-converter {
  display: flex;
  gap: 12px;
  margin-left: auto;

  &__button {
    aspect-ratio: 1 / 1;

    width: 40px;
    --button-bg: #585676;
    --button-bg-hover: #37364a;
    --button-padding: 10px;
    --button-radius: 40px;
    --button-color: var(--gray-light);
    font-family: inherit;
    --button-font-weight: 700;
    font-size: 1.125rem;

    &--active {
      --button-color: var(--blue-dark);
      --button-bg: var(--gray-light);
      --button-bg-hover: var(--gray-light);
    }
  }
}
