@use "../scss/mixins";

.visibility {
  &__distance {
    font-size: 64px;
    font-weight: 700;

    @include mixins.skeleton {
      width: 150px;
    }
  }
  &__distance-unit {
    font-size: 36px;
    font-weight: 500;
  }
}
