.weather {
  &__degree {
    font-size: clamp(6.25rem, 10vw, 9rem);
    font-weight: 500;
    --skeleton-width: 3ch;
  }
  &__degree-unit {
    color: var(--text-secondary);
    font-size: var(--fs-8);
  }

  &__description {
    color: var(--text-secondary);
    font-size: var(--fs-fluid-4-6);
    font-weight: 600;
    --skeleton-width: 12ch;
  }

  &__date {
    color: var(--text-dark);
    font-size: var(--fs-2);
    font-weight: 500;
    --skeleton-width: 16ch;
  }

  &__location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    margin-top: 32px;

    color: var(--text-dark);
    font-weight: 600;
    font-size: var(--fs-2);

    --skeleton-width: 10ch;
  }
}
