@use "../scss/mixins";

.wind {
  .highlights__value {
    @include mixins.skeleton {
      width: 200px;
    }
  }

  &__direction {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: var(--fs-0);
    font-weight: 500;

    @include mixins.skeleton {
      width: 60px;
    }
  }
  &__direction-icon-wrapper {
    display: flex;
    align-items: center;

    background-color: #6e707a;
    padding: 8px;
    border-radius: 50%;

    rotate: -45deg;
    transform: rotate(var(--wind-degree));
  }
}
