#root {
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  align-items: center;

  min-height: 100vh;
  min-height: 100dvh;
  max-width: 470px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  #root {
    padding-inline: 1rem;
    --character-height: 90px;
    --character-top-offset: -65px;
    --header-margin-block: 16px 24px;
    --quiz-card-padding: 40px 20px 20px;
    --quiz-card-padding__flag: 20px;
    --quiz-card-padding__loading: 20px;
    --quiz-card-gap: 20px;
    --quiz-card-gap__over: 20px;
    --answers-gap: 20px;
    --option-gap: 20px;
  }
}

h1 {
  width: 60%;
  margin-block: var(--header-margin-block, 24px);

  color: #fff;
  font-weight: 700;
  font-size: var(--fs-fluid-4-6);
}
