@use "@lib/sass-utils";

:root {
  font-family: "Poppins", sans-serif;

  --primary: #6066d0b2;
  --primary-dark: #2f527b;
  --primary-darkest: #1d355d;
  --error: #ea8282;
  --success: #60bf88;
  --success-light: #6fcf97;
  --warning: #f9a826;
  --warning-hover: #e69006;

  --credits-text: #f2f2f2;
}

body {
  background-image: url("/background.png");
  background-color: #5256a1;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
