:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --error: #EA8282;
  --success: #60BF88;
  --warning: #f9a826;
  --warning-hover: #e69006;
}

/* TODO: Add this to app template */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
}
