.form-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  max-width: 810px;
  border-radius: 18px;
  margin: 0 auto;
  padding: 2rem;
  background-color: var(--card-bg);
}

.form-card .fields-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 1.125rem;
}

.form-card label {
  display: flex;
  flex-direction: column;
  gap: 4px;

  font-size: 0.875rem;
}

.form-card input,
.form-card textarea,
.form-card select {
  border-radius: 14px;
  border: none;
  padding: 1.5rem 1.125rem;
  background-color: #fff;

  color: var(--field-text);
  font-size: 1rem;
  font-weight: 600;
}
.form-card input::placeholder,
.form-card textarea::placeholder {
  color: var(--placeholder-text);
  opacity: 1;
}
.form-card textarea {
  resize: none;
}
.form-card .select {
  position: relative;
}
.form-card .select__inner {
  appearance: none;
  width: 100%;
}
.form-card .select .dropdown-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1.125rem; /* need to be the same as padding-inline */

  margin: auto;
}

.form-card .submit-button {
  border-radius: 14px;
  border: none;
  padding: 1.5rem;
  background-color: #fff;

  color: var(--submit-text);
  font-size: 1.25rem;
  font-weight: 600;
}
