:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --card-bg: #ffffff33;
  --field-text: #111729;
  --placeholder-text: #6e757f;
  --submit-text: #4036a9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;

  margin: 0 auto;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  min-height: 100svh;

  background-image: url("/background.svg");
  background-size: cover;
  padding: 2rem;

  color: #fff;
}
@media (max-width: 767px) {
  body {
    padding: 1rem;
  }
}

h1 {
  margin: 0;

  text-align: center;
  text-wrap: balance;
  font-size: 4rem;
  line-height: 1.1;
}

button,
input,
textarea,
select {
  font: inherit;
}

.description {
  text-align: center;
  text-wrap: pretty;
  font-size: 2rem;
}
