.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: "Poppins", sans-serif;

  .bold {
    font-weight: 700;
  }
}

h1 {
  margin: 0;
  font-weight: 300;
}
