.debug {
  border: 1px solid red;
}

.job-card {
  display: grid;
  align-items: center;
  grid-template-areas:
    "image company . ."
    "image title title title"
    "image schedule location created-at";
  grid-template-columns: 60px 1fr auto auto;
  gap: 10px 16px;

  padding: 12px;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  outline: none;

  color: var(--text);
  font-size: var(--fs-00);
  text-decoration: none;

  cursor: pointer;

  &:hover,
  &:focus-visible {
    outline: 1px solid var(--text);
    --job-title-decoration: underline;
  }

  @media (max-width: 767px) {
    grid-template-areas:
      "image company  company"
      "image title    title"
      "image schedule ."
      ".     location created-at";
  }

  &__image {
    grid-area: image;

    img {
      height: 60px;
      border-radius: 4px;
      aspect-ratio: 1 / 1;
    }
  }
  &__no-image {
    display: grid;
    place-items: center;

    border-radius: 4px;
    background-color: rgb(64 64 64 / 7%);
    aspect-ratio: 1 / 1;

    color: #bdbdbd;
    text-align: center;
    font-weight: 500;
  }

  &__company {
    grid-area: company;
    font-weight: 700;
  }

  &__title {
    grid-area: title;
    text-decoration: var(--job-title-decoration);
    font-size: clamp(1rem, 2vw, var(--fs-2));
  }

  &__schedule-type {
    grid-area: schedule;
    font-weight: 700;

    border: 1px solid;
    border-radius: 4px;
    padding: 6px 8px;
    margin-right: auto;
  }

  &__location {
    grid-area: location;
    margin-left: auto;
  }

  &__created {
    grid-area: created-at;
  }

  &__location,
  &__created {
    display: flex;
    align-items: center;
    gap: 6px;

    color: var(--text-secondary);
    font-weight: 500;
    --icon-size: 1.5em;
  }
}
