// TODO: Reuse styles from JobCard in better way
.job-details {
  margin-bottom: auto;
  font-size: 0.75rem;
  color: var(--text);

  &__header {
    display: grid;
    grid-template-areas: "title schedule" "created .";
    align-items: center;
    column-gap: 16px;
    row-gap: 10px;
    margin-right: auto;

    @media (max-width: 767px) {
      grid-template-areas: "title" "schedule" "created";
    }
  }
  &__title {
    grid-area: title;
    font-size: 1.5rem;
  }
  &__created {
    grid-area: created;
  }
  &__schedule-type {
    grid-area: schedule;
    border: 1px solid;
    border-radius: 4px;
    padding: 6px 8px;
    margin-right: auto;

    font-weight: 700;
  }

  &__company-info {
    display: grid;
    grid-template-areas: "image company" "image location";
    column-gap: 12px;
    row-gap: 8px;

    margin-right: auto;
  }
  &__image {
    grid-area: image;

    img {
      height: 40px;
      border-radius: 4px;
      aspect-ratio: 1 / 1;
    }
  }
  &__no-image {
    display: grid;
    place-items: center;

    border-radius: 4px;
    background-color: rgb(64 64 64 / 7%);
    aspect-ratio: 1 / 1;
    padding: 8px;

    color: #bdbdbd;
    text-align: center;
    font-weight: 500;
  }
  &__company {
    font-size: 1.125rem;
    font-weight: bold;
  }

  &__location,
  &__created {
    display: flex;
    align-items: center;
    gap: 8px;

    color: var(--text-secondary);
    font-weight: 500;
    --icon-size: 1.5em;
  }

  &__description {
    white-space: pre-wrap;
    font-size: 1rem;
  }
}
