.radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.radio-group label {
  display: inline-flex;
  gap: 12px;
  align-items: center;

  font-size: 1rem;
  color: var(--text);
}

.radio {
  display: grid;
  place-items: center;

  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;

  font-size: 1rem;

  &:is(:hover, :focus-within) {
    background-color: rgb(0 0 0 / 10%);
    outline: 4px solid rgb(0 0 0 / 10%);
  }

  input {
    grid-area: 1 / 1;
    opacity: 0;
    margin: 0;
    border: none;

    &:checked + .radio__icon {
      --__icon-display: none;
      --__icon-checked-display: inline;
    }
  }

  &__icon {
    grid-area: 1 / 1;

    > :first-child {
      display: var(--__icon-display, inline);
      color: var(--text-secondary);
    }
    > :last-child {
      display: var(--__icon-checked-display, none);
      color: var(--primary);
    }

    > svg {
      font-size: 1.5em;

      fill: currentColor;
      width: 1.1em;
      height: 1.1em;
    }
  }
}
