main {
  grid-area: main;

  display: grid;
  gap: 32px;
}

.jobs-pagination {
  display: grid;
  position: relative;

  grid-auto-flow: column;
  grid-auto-columns: 36px;
  grid-auto-rows: 36px;
  gap: 12px;

  margin: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;

  a {
    display: grid;
    place-items: center;

    border: 1px solid;
    border-radius: 4px;
    height: 100%;

    color: var(--text-secondary);
    font-size: 0.75rem;

    cursor: pointer;

    --icon-size: 2em;

    &:hover {
      color: var(--primary);
    }
  }
  .selected a {
    background-color: var(--primary);
    border-color: var(--primary);
    color: #fff;
  }
}
