.search-options {
  grid-area: search-options;
  display: flex;
  flex-direction: column;
  gap: 24px;

  font-family: "Poppins", sans-serif;

  --label-text: var(--text-secondary);
  --label-text-focus: var(--primary);
  --label-font-weight: 700;
  --label-font-size: 0.875rem;

  .label--checkbox,
  .label--radio {
    --label-text: var(--text);
    --label-font-size: 0.875rem;
    --label-font-weight: 500;
  }
  --checkbox-color: var(--text-secondary);
  --radio-color: var(--text-secondary);
  --radio-checked-color: var(--primary);
  .label--radio:focus-within {
    --label-text: var(--text);
  }

  --input-border-color: transparent;
  --input-border-color-hover: var(--text-secondary);
  --input-border-color-focus: var(--primary);
  --input-font-weight: 400;
  --input-font-size: 0.75rem;
  --icon-size: 1.5em;
  .input {
    align-items: center;
    box-shadow: var(--box-shadow);
    font-family: "Roboto", sans-serif;

    &__inner:placeholder-shown {
      text-overflow: ellipsis;
    }
  }

  [data-theme="dark"] & {
    --input-text: var(--text-color);
  }
}
