.search-form-wrapper {
  grid-area: search-form;

  background-image: url("/background.png");
  background-position: center;
  padding-block: 42px;
  border-radius: 8px;
}

#search-form {
  display: flex;
  gap: 4px;

  background: #fff;
  border-radius: 4px;
  padding: 4px;
  margin-inline: auto;
  width: 75%;

  &:focus-within {
    // outline: 2px solid;
    outline: 2px solid var(--primary);
    // color: var(--primary);
    // TODO: Remove --icon-color. it inherits color from .label
    --icon-color: var(--primary);
  }

  --button-padding: 14px 48px;
  --button-radius: 4px;
  // --button-font-family: "Roboto", sans-serif;

  --label-text: var(--text-secondary);
  --label-text-focus: var(--primary);
  --input-gap: 8px;
  --input-padding: 10px;
  --input-border-color: transparent;
  --input-border-color-hover: transparent;
  --input-border-color-focus: transparent;

  // TODO: Remove --icon-color. it inherits color from .label
  --icon-color: var(--text-secondary);
}
