.search-form {
  grid-area: search-form;

  background-image: url("/background.png");
  background-position: center;
  background-size: cover;
  padding-block: 42px;
  border-radius: 8px;
}

.search-form__inner {
  display: flex;
  gap: 4px;

  background: #fff;
  border-radius: 4px;
  padding: 4px;
  margin-inline: auto;
  width: 75%;

  &:focus-within {
    outline: 2px solid var(--primary);
  }

  --button-padding: 14px 48px;
  --button-radius: 4px;
  --button-font-size: 1rem;

  --label-text: var(--text-secondary);
  --label-text-focus: var(--primary);
  --input-gap: 8px;
  --input-padding: 10px;
  --input-border-color: transparent;
  --input-border-color-hover: transparent;
  --input-border-color-focus: transparent;
  --input-font-size: 0.75rem;
  --icon-size: 1.5em;

  @media (max-width: 767px) {
    width: 90%;
  }
}
