.game-card .actions {
  display: flex;
  justify-content: center;
  gap: var(--buttons-gap);
  flex-wrap: wrap;
}
.game-card .actions__control {
  outline: 2px solid var(--_control-outline-color);
  --button-font-weight: 600;
  filter: var(--button-shadow);
}
/* TODO: use same hover/focus rules as <Button /> from @hrc/button */
.game-card .actions__control:hover,
.game-card .actions__control:focus {
  transform: translateY(-4px) scale(1.05);
  --_control-outline-color: var(--text);
}

/* TODO: move to ./typing.css */
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
