.game-card .info {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.75rem;

  font-size: var(--info-fs);
  font-weight: 600;
}

.game-card .info .tries,
.game-card .info .resets {
  display: flex;
  column-gap: 1ch;
  row-gap: 0.25rem;
  flex-wrap: wrap;
}
.game-card .info .tries__indicator,
.game-card .info .resets__indicator {
  --step-color: var(--word-bg);
  --step-color-completed: var(--primary);
}

.mistakes__letter {
  color: var(--mistaken-letter-text);
}
.mistakes__letter + .mistakes__letter {
  margin-left: 0.5ch;
}

.game-card .info .resets {
  display: none;
}
.game-card .info .resets[data-active] {
  display: flex;
}
