.game-card .info {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.75rem;

  font-size: 0.875rem;
  font-weight: 600;

  --countdown-bar-bg: var(--slate-600);
  --countdown-bar-track-bg: var(--primary);
}

.game-card .info .button {
  gap: 4px;

  margin-inline: auto;
  --button-radius: 6px;
  --button-padding: 0.5em 0.75em;
  --button-bg: var(--secondary);
  --button-hover-scale: 1.075;

  --icon-size: 1.5em;
}

.game-card .info .tries,
.game-card .info .resets {
  display: flex;
  gap: 0.25rem 1ch;
  flex-wrap: wrap;
}
.game-card .info .step-indicator {
  /* TODO: move to `.game-card .info` selector */
  --step-color: var(--slate-600);
  --step-color-completed: var(--secondary);
}

.game-card .info .definition,
.game-card .info .hints {
  grid-column: 1 / -1;
}

.game-card .info .hints {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.game-card .hints .button {
  --icon-size: 1.875em;
}
.game-card .hints .button__label {
  pointer-events: none;
}
.game-card .hints__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.game-card .hints__content .tab-nav {
  justify-content: center;
}

.info .difficulty-completed {
  grid-column: 1 / -1;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  text-align: center;
  font-size: 1rem;
}
.info .difficulty-completed [data-primary] {
  font-size: 1.5em;
}
.info .difficulty-completed .button {
  margin-top: 0.5rem;
}
