.game-card .typing {
  display: flex;
  gap: var(--letters-gap, 10px);
  justify-content: center;
  flex-wrap: wrap;

  margin-block: var(--letters-margin-block, 2.5rem);

  font-size: var(--letter-fs, 1.25rem);
  font-weight: bold;
}

.game-card .typing__letter {
  position: relative;

  width: 3.5ch;
  height: 3.5ch;
  border-radius: 10px;
  border: 2px solid var(--_border, var(--slate-600));

  overflow: hidden;
}
.game-card .typing__letter--current {
  --_border: var(--purple-800);
  --caret-color: currentColor;
}
.game-card .typing__letter--mistaken {
  --_border: var(--rose-600);
}
.game-card .typing__letter--correct {
  --_border: var(--difficulty-easy);
}
.game-card .typing__letter:focus-within {
  --caret-blink-duration: 2.25s;
}

.game-card .typing__letter > input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;

  text-align: center;

  caret-color: transparent;
}
.game-card .typing__caret {
  position: absolute;
  bottom: 1ch;
  left: 0;
  right: 0;

  width: 1ch;
  height: 2px;
  margin: 0 auto;
  background-color: var(--caret-color, transparent);

  animation: blink infinite both var(--caret-blink-duration);
  -webkit-animation: blink infinite both var(--caret-blink-duration);
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
