.game-card .word {
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 1ch;

  background-color: var(--slate-600);
  padding: 0.75rem;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 4px 0px 0px var(--slate-950);

  font-size: var(--word-fs, 2rem);
  user-select: none;
}

.game-card .word__letter[data-used] {
  color: var(--slate-950);
}
