.game-card .word {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1ch;

  background-color: var(--word-bg);
  padding: var(--word-padding);
  border-radius: 8px;
  border: none;
  box-shadow: var(--word-shadow);

  font-size: var(--word-fs);
  user-select: none;
}
