.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.75em;

  margin: 0;

  font-family: "Raleway", sans-serif;
  font-size: clamp(20px, 3vw, 36px);
  font-weight: 500;

  p {
    margin: 0;
    padding-left: 2.1em;
    border-left: 8px solid #f7df94;

    &::before {
      content: "\201C";
    }
    &::after {
      content: "\201D";
    }
  }

  footer {
    width: 85%;
    margin: 0;
  }

  & * {
    font-family: "Raleway", sans-serif;
  }
}

.quote-credits {
  display: grid;
  align-items: center;
  gap: 8px;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "author . arrow"
    "genre . arrow";

  width: 100%;
  background-color: transparent;
  border: none;
  padding: 1.5em 1em;

  --icon-color: transparent;
  text-align: left;
  font-size: 1em;

  cursor: pointer;
  transition: background-color 0.3s ease;
}
.quote-credits:hover {
  background-color: #333;
  --quote-author-text: #fff;
  --icon-color: #fff;
}

.quote-credits__author {
  grid-area: author;
  font-size: 24px;
  font-weight: 700;
  color: var(--quote-author-text, #4f4f4f);
}

.quote-credits__genre {
  grid-area: genre;
  font-size: 14px;
  font-weight: 500;
  color: var(--quote-genre-text, #828282);
}

.quote-credits__arrow {
  grid-area: arrow;
}
