.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.75em;

  margin: 0;

  font-family: "Raleway", sans-serif;
  font-size: clamp(20px, 3vw, 36px);
  font-weight: 500;

  @supports (font-variation-settings: normal) {
    font-family: "Raleway Variable", sans-serif;
  }

  p {
    width: 100%;
    margin: 0;
    padding-left: 2.1em;
    border-left: 8px solid #f7df94;

    &::before {
      content: "\201C";
    }
    &::after {
      content: "\201D";
    }
  }

  footer {
    width: 85%;
    margin: 0;
  }

  & * {
    font-family: "Raleway", sans-serif;
  }
}

.quote-credits {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  background-color: transparent;
  border: none;
  padding: 1.5em 1em;

  --icon-color: #4f4f4f;
  text-align: left;
  font-size: 1em;

  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #333;
    --author-text: #fff;
    --icon-color: #fff;
  }

  [data-theme="dark"] & {
    --author-text: #fff;
    --genre-text: #bdbdbd;
    --icon-color: #fff;
    --more-quotes-text: #bdbdbd;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__author {
    font-size: 24px;
    font-weight: 700;
    color: var(--author-text, #4f4f4f);
  }

  &__genre {
    font-size: 14px;
    font-weight: 500;
    color: var(--genre-text, #828282);
  }

  &__arrow {
    margin-left: auto;
  }

  &__more-quotes {
    margin-right: 4px;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    color: var(--more-quotes-text, #828282);
  }
}
