@use "@lib/sass-utils/reset/font";
@use "@lib/sass-utils/reset/body";

:root {
  font-family: "Ubuntu Mono", monospace;

  --bg: #fff;
  --text: #000;
}

[data-theme="dark"] {
  --bg: #242424;
  --text: #fff;
}

body {
  background-color: var(--bg);
  color: var(--text);
}

h1 {
  font-family: "Poppins", sans-serif;
}
