@use "@scss" as *;

.location-menu {
  display: flex;
  flex-direction: column;
  grid-area: location-menu;

  overflow-y: auto;

  margin: 0;
  padding-left: 10px;

  @include extra-small-screen {
    margin-block: 30px;
  }

  li {
    list-style: none;
    display: flex;

    --button-bg: transparent;
    --button-bg-hover: var(--filter-location-bg-hover, #efefef);
    .button {
      flex-grow: 1;
      gap: 10px;
      justify-content: flex-start;

      border-radius: 16px;
      box-shadow: none;
      padding: 10px;
      color: var(--text-light);
    }
  }
}

.location-input {
  grid-area: location-input;
  @include border-left-rounded(16px);

  @include extra-small-screen {
    @include border-top-rounded(16px);
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 10%);
  }
}

.location-spinner {
  --spinner-size: 40px;
  margin: 30px auto;
}
