.filter-input {
  box-shadow: var(--shadow);
  color: var(--text);

  .input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;

    border: solid 1px transparent;
    border-radius: 16px;
    padding: 10px 26px;

    font-weight: 800;
    font-size: var(--fs-000);
    text-transform: uppercase;

    cursor: pointer;

    &:hover:not(.selected) {
      background-color: var(--filter-input-bg-hover, #efefef);
    }

    &.selected {
      border: solid 1px var(--text);
      cursor: default;
    }
  }

  input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;

    font-family: inherit;
    font-size: var(--fs-0);
    font-weight: 400;
    color: var(--text);

    cursor: unset;
  }
}
