@use "@scss" as *;

.location-menu {
  display: flex;
  flex-direction: column;
  grid-area: location-menu;

  overflow-y: auto;

  margin: 0;
  padding-left: 10px;

  @include extra-small-screen {
    margin-block: 30px;
  }

  li {
    list-style: none;
    display: flex;

    .button {
      flex-grow: 1;
    }
  }

  --button-gap: 10px;
  --button-justify: flex-start;
  --button-bg: transparent;
  --button-bg-hover: var(--filter-location-bg-hover, #efefef);
  --button-radius: 16px;
  --button-shadow: none;
  --button-padding: 10px;
  --button-text: var(--text-light);
}

.location-input {
  grid-area: location-input;
  @include border-left-rounded(16px);

  @include extra-small-screen {
    @include border-top-rounded(16px);
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 10%);
  }
}

.location-spinner {
  --spinner-size: 40px;
  margin: 30px auto;
}
