@use "@scss" as *;

@keyframes skeleton {
  0% {
    background-color: var(--skeleton-base);
  }
  100% {
    background-color: var(--skeleton-accent);
  }
}

.stay-card {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__image {
    --skeleton-base: #aaa;
    --skeleton-accent: #cbcbcb;
    object-fit: cover;
    border-radius: 24px;
    width: 100%;
    outline: 1px solid var(--skeleton-base);

    color: var(--text);

    aspect-ratio: 16 / 10.5;

    animation: skeleton 1.25s linear infinite alternate;

    [data-theme="dark"] & {
      --skeleton-base: #333;
      --skeleton-accent: #444;
    }
  }

  &__features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    height: 25px;
  }

  &__super-host {
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid;
    padding: 6px 10px;

    color: var(--text-light);
    font-size: var(--fs-fluid-000);
    font-weight: 700;

    @include extra-small-screen {
      padding-inline: 8px;
    }
  }

  &__type {
    color: var(--text-secondary);
    font-size: var(--fs-fluid-00);
    font-weight: 500;
  }

  &__rating {
    --icon-size: 1.25em;

    display: inline-flex;
    align-items: center;
    gap: 4px;

    margin-left: auto;

    color: var(--text-light);
    font-size: var(--fs-fluid-00);
    font-weight: 500;
  }

  &__description {
    margin: 0;

    color: var(--text);
    font-size: var(--fs-0);
    font-weight: 600;
  }
}
