<!-- vim: set filetype=ejs :-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Guess The Word Game" />
    <title>Guess The Word Game - DevChallenges</title>
  </head>
  <body>
    <main class="game-card">
      <header class="game-card__header" role="banner">
        <picture class="game-card__logo">
          <source srcset="/word-scramblle-logo.webp" type="image/webp" />
          <img
            fetchpriority="high"
            width="144"
            height="16"
            src="/word-scramblle-logo.svg"
            alt="Word Scramblle logo"
          />
        </picture>
        <button
          id="menu-open"
          class="button | push-right"
          aria-label="Open menu"
        >
          <%- include("icon/MenuDeep") %>
        </button>
      </header>
      <div
        class="word font-semibold"
        id="word"
        aria-label="Scrambled word"
      ></div>
      <section class="info">
        <section class="tries">
          <p class="tries__description">
            Tries (<span id="current-tries">0</span>/<span id="max-tries"
              >?</span
            >)<span aria-hidden="true">:</span>
          </p>
          <%- include("StepIndicator") %>
        </section>
        <section class="mistakes">
          <span>Mistakes:</span>
          <span id="mistaken-letters">0</span>
        </section>
        <section class="resets | hidden">
          <p class="resets__description">
            Resets (<span id="current-resets">0</span>/<span id="max-resets"
              >2</span
            >)<span aria-hidden="true">:</span>
          </p>
          <%- include("StepIndicator", { steps: 2 }) %>
        </section>
        <section id="timer" class="timer | hidden">
          <div class="timer__bar"></div>
        </section>
        <section class="definition | hidden">
          <button class="button">
            Definition <%- include("icon/Book2") %>
          </button>
        </section>
        <section class="hints | hidden">
          <button class="button">
            <span class="button__label">Hints</span>
            <%- include("icon/ProgressHelp") %>
          </button>
          <%- include("info/HintsContent") %>
        </section>
        <section class="difficulty-completed | hidden">
          <p data-primary>
            You have completed the
            <span class="difficulty-completed__name"></span>
            difficulty.
          </p>
          <p data-secondary>Select another difficulty to continue playing.</p>
          <button class="button">
            Difficulties <%- include("icon/Versions") %>
          </button>
        </section>
      </section>
      <section id="typing" class="typing font-semibold"></section>
      <section class="actions">
        <button id="random" class="actions__control button">Random</button>
        <button id="reset" class="actions__control button" disabled>
          Reset
        </button>
      </section>
    </main>
    <div id="alert" class="alert">
      <!-- FIX: icon must be aria-hidden. use a nested element for it -->
      <span class="alert__text" role="alert"></span>
      <div class="alert__time-bar"></div>
    </div>
    <%- include("menu/AppMenu") %>
    <%- include("template/TypingLetter") %>
    <%- include("template/DefinitionItem") %>
    <%- include("template/Spinner") %>
    <%- include("template/DefinitionRetry") %>
    <%- include("template/DefinitionPage") %>
    <%- include("template/DefinitionPageEmpty") %>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
