<!-- vim: set filetype=ejs :-->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Guess The Word Game - DevChallenges</title>
  </head>
  <body>
    <main class="game-card">
      <header class="game-card__header">
        <img
          class="game-card__logo"
          src="/word-scramblle-logo.svg"
          alt="Word Scramblle logo"
        />
        <button
          id="menu-open"
          class="menu-trigger"
          aria-label="Open menu"
          data-menu="app-menu"
        >
          <!-- menu-deep icon -->
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M4 6h16M7 12h13M10 18h10" />
          </svg>
        </button>
      </header>
      <div class="word" id="word" aria-label="Scrambled word"></div>
      <section class="info">
        <section class="tries" data-active>
          <p class="tries__description">
            Tries (<span id="current-tries">0</span>/<span id="max-tries"
              >?</span
            >)<span aria-hidden="true">:</span>
          </p>
          <div class="step-indicator" aria-hidden="true"></div>
        </section>
        <section class="mistakes" data-active>
          <span>Mistakes:</span>
          <span id="mistaken-letters">-</span>
        </section>
        <section class="resets">
          <p class="resets__description">
            Resets (<span id="current-resets">0</span>/<span id="max-resets"
              >2</span
            >)<span aria-hidden="true">:</span>
          </p>
          <div class="step-indicator" aria-hidden="true">
            <span class="step-indicator__step"></span>
            <span class="step-indicator__step"></span>
          </div>
        </section>
        <section id="timer" class="timer">
          <div class="timer__bar"></div>
        </section>
        <section class="definition">
          <button class="definition__open menu-trigger">
            Definition
            <!-- book-2 icon -->
            <svg
              focusable="false"
              aria-hidden="true"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M19 4v16H7a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h12z" />
              <path d="M19 16H7a2 2 0 0 0-2 2M9 8h6" />
            </svg>
          </button>
        </section>
        <section class="hints">
          <button class="menu-trigger">
            <span class="menu-trigger__label">Hints</span>
            <!-- progress-help icon -->
            <svg
              focusable="false"
              aria-hidden="true"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M12 16v.01M12 13a2 2 0 0 0 .914-3.782 1.98 1.98 0 0 0-2.414.483M10 20.777a8.942 8.942 0 0 1-2.48-.969"
              />
              <path
                d="M14 3.223a9.003 9.003 0 0 1 0 17.554M4.579 17.093a8.961 8.961 0 0 1-1.227-2.592M3.124 10.5c.16-.95.468-1.85.9-2.675l.169-.305M6.907 4.579A8.954 8.954 0 0 1 10 3.223"
              />
            </svg>
          </button>
          <section class="hints__content">
            <% const hintsTabs = ["all", "correct"]; %>
            <header class="menu__header">
              <nav>
                <div id="hints-nav" class="tab-nav" role="tablist">
                  <% for (const tab of hintsTabs) { %>
                  <button
                    id="<%= tab %>-hints-tab"
                    class="tab-nav__link"
                    role="tab"
                    aria-controls="<%= tab %>-hints-tab-content"
                    aria-selected="<%= tab === 'all' %>"
                    ejs="<% if (tab === 'all') { %>"
                    disabled
                    ejs="<% } %>"
                  >
                    <svg
                      focusable="false"
                      aria-hidden="true"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <% if (tab === "all") { %>
                      <!-- select-all icon -->
                      <!-- <path
                        d="M8 9a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1zM12 20v.01M16 20v.01M8 20v.01M4 20v.01M4 16v.01M4 12v.01M4 8v.01M4 4v.01M8 4v.01M12 4v.01M16 4v.01M20 4v.01M20 8v.01M20 12v.01M20 16v.01M20 20v.01"
                      /> -->
                      <!-- filter-off icon -->
                      <path
                        d="M8 4h12v2.172a2 2 0 0 1-.586 1.414L15.5 11.5M15 15v4l-6 2v-8.5L4.52 7.572A2 2 0 0 1 4 6.227V4M3 3l18 18"
                      />
                      <% } else { %>
                      <!-- text-grammar icon -->
                      <path
                        d="M14 9a3 3 0 1 0 6 0 3 3 0 0 0-6 0M4 12V7a3 3 0 1 1 6 0v5M4 9h6M20 6v6M4 16h12M4 20h6M14 20l2 2 5-5"
                      />
                      <% } %>
                    </svg>
                    <%= capitalize(tab) %>
                  </button>
                  <% } %>
                </div>
              </nav>
            </header>
            <section id="hints-menu-content" class="tab-content">
              <% for (const tab of hintsTabs) { %>
              <div
                id="<%= tab %>-hints-tab-content"
                class="tab-content__item"
                role="tabpanel"
                aria-labelledby="<%= tab %>-hints-tab"
                ejs="<% if (tab === 'all') { %>"
                data-active
                ejs="<% } %>"
              >
                <ul class="hints-list"></ul>
              </div>
              <% } %>
            </section>
          </section>
        </section>
        <section class="difficulty-completed">
          <p data-primary>
            You have completed the
            <span class="difficulty-completed__name"></span>
            difficulty.
          </p>
          <p data-secondary>Select another difficulty to continue playing.</p>
          <button class="menu-trigger">
            Difficulties
            <!-- versions icon -->
            <svg
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M10 7a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-6a2 2 0 0 1-2-2zM7 7v10M4 8v8"
              />
            </svg>
          </button>
        </section>
      </section>
      <section id="typing" class="typing"></section>
      <section class="actions">
        <button id="random" class="actions__control">Random</button>
        <button id="reset" class="actions__control" disabled>Reset</button>
      </section>
    </main>
    <div id="alert" class="alert">
      <span class="alert__text"></span>
      <div class="alert__time-bar"></div>
    </div>
    <template id="letter-template">
      <span class="typing__letter">
        <input disabled />
        <span class="typing__caret"></span>
      </span>
    </template>
    <template id="definition-template">
      <li>
        <details class="definition" name="definition">
          <summary class="definition__label"></summary>
          <section class="definition__content"></section>
        </details>
      </li>
    </template>
    <template id="spinner-template">
      <div class="spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </template>
    <template id="definition-retry-template">
      <button class="definition__retry">
        <!-- reload icon -->
        <svg
          focusable="false"
          aria-hidden="true"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="M19.933 13.041a8 8 0 1 1-9.925-8.788c3.899-1 7.935 1.007 9.425 4.747"
          />
          <path d="M20 4v5h-5" />
        </svg>
        Retry
      </button>
    </template>
    <template id="definition-page-template">
      <ul class="definitions-list page" aria-label="Discovered words"></ul>
    </template>
    <template id="definition-page-empty-template">
      <p class="not-yet">- No discovered words yet -</p>
    </template>
    <dialog id="app-menu" class="menu">
      <header class="menu__header">
        <nav>
          <div id="menu-nav" class="tab-nav" role="tablist">
            <button
              id="definitions-tab"
              class="tab-nav__link"
              role="tab"
              aria-controls="definitions-tab-content"
              aria-selected="true"
              disabled
            >
              <!-- book-2 icon -->
              <svg
                focusable="false"
                aria-hidden="true"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M19 4v16H7a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h12z" />
                <path d="M19 16H7a2 2 0 0 0-2 2M9 8h6" />
              </svg>
              Definitions
            </button>
            <button
              id="difficulty-tab"
              class="tab-nav__link"
              role="tab"
              aria-controls="difficulty-tab-content"
              aria-selected="false"
            >
              <!-- versions icon -->
              <svg
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M10 7a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-6a2 2 0 0 1-2-2zM7 7v10M4 8v8"
                />
              </svg>
              Difficulty
            </button>
            <button
              id="stats-tab"
              class="tab-nav__link"
              role="tab"
              aria-controls="stats-tab-content"
              aria-selected="false"
            >
              <!-- chart-bar icon -->
              <svg
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path
                  d="M3 13a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1zM15 9a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zM9 5a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1zM4 20h14"
                />
              </svg>
              Stats
            </button>
          </div>
        </nav>
        <button id="menu-close" class="menu-trigger" aria-label="Close menu">
          <!-- x icon -->
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M18 6 6 18M6 6l12 12" />
          </svg>
        </button>
      </header>
      <section id="menu-content" class="tab-content">
        <div
          id="definitions-tab-content"
          class="tab-content__item"
          role="tabpanel"
          aria-labelledby="definitions-tab"
          data-active
        >
          <div class="definitions-count">
            <div class="definitions-count__progress"></div>
            <p class="definitions-count__description">
              <span class="definitions-count__current">0</span>
              /
              <span class="definitions-count__total">0</span>
              words
            </p>
          </div>
          <div id="definition-pages-container"></div>
          <nav aria-label="Definition pages">
            <menu id="definition-pagination" class="pagination">
              <li class="pagination__item">
                <button
                  class="pagination__trigger"
                  aria-label="Previous page"
                  data-page-prev
                >
                  <!-- arrow-badge-left icon-->
                  <svg
                    focusable="false"
                    aria-hidden="true"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                  >
                    <path
                      d="M17 6h-6a1 1 0 0 0-.78.375l-4 5a1 1 0 0 0 0 1.25l4 5A1 1 0 0 0 11 18h6l.112-.006a1 1 0 0 0 .669-1.619L14.28 12l3.5-4.375A1 1 0 0 0 17 6z"
                    />
                  </svg>
                </button>
              </li>
              <li class="pagination__item" aria-current="page">
                <input
                  type="text"
                  inputmode="numeric"
                  class="pagination__current"
                  min="1"
                  value="1"
                />
                <span aria-hidden="true">
                  / <span class="pagination__total">1</span>
                </span>
              </li>
              <li class="pagination__item">
                <button
                  class="pagination__trigger"
                  aria-label="Next page"
                  data-page-next
                >
                  <!-- arrow-badge-right icon -->
                  <svg
                    focusable="false"
                    aria-hidden="true"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                  >
                    <path
                      d="m7 6-.112.006a1 1 0 0 0-.669 1.619L9.72 12l-3.5 4.375A1 1 0 0 0 7 18h6a1 1 0 0 0 .78-.375l4-5a1 1 0 0 0 0-1.25l-4-5A1 1 0 0 0 13 6H7z"
                    />
                  </svg>
                </button>
              </li>
            </menu>
          </nav>
        </div>
        <div
          id="difficulty-tab-content"
          class="tab-content__item"
          role="tabpanel"
          aria-labelledby="difficulty-tab"
        >
          <form id="difficulty-form">
            <div class="radio-group">
              <label class="label" data-type="radio" data-difficulty="easy">
                <span class="radio">
                  <input
                    class="radio__inner"
                    type="radio"
                    name="difficulty"
                    value="easy"
                  />
                  <span class="radio__icon" aria-hidden="true">
                    <svg
                      class="radio__icon-unchecked"
                      focusable="false"
                      viewBox="0 0 24 24"
                    >
                      <use href="/icon/radio-unchecked.svg#path" />
                    </svg>
                    <svg
                      class="radio__icon-checked"
                      focusable="false"
                      viewBox="0 0 24 24"
                    >
                      <use href="/icon/radio-checked.svg#path" />
                    </svg>
                  </span>
                </span>
                <span class="label__text">
                  <span class="difficulty-name">Easy:</span>
                  Words with at most 6 letters
                </span>
              </label>
              <label class="label" data-type="radio" data-difficulty="normal">
                <span class="radio">
                  <input
                    class="radio__inner"
                    type="radio"
                    name="difficulty"
                    value="normal"
                    checked
                  />
                  <span class="radio__icon" aria-hidden="true">
                    <svg
                      class="radio__icon-unchecked"
                      focusable="false"
                      viewBox="0 0 24 24"
                    >
                      <use href="/icon/radio-unchecked.svg#path" />
                    </svg>
                    <svg
                      class="radio__icon-checked"
                      focusable="false"
                      viewBox="0 0 24 24"
                    >
                      <use href="/icon/radio-checked.svg#path" />
                    </svg>
                  </span>
                </span>
                <span class="label__text">
                  <span class="difficulty-name">Normal:</span>
                  Words with 7 ~ 9 letters
                </span>
              </label>
              <label class="label" data-type="radio" data-difficulty="hard">
                <span class="radio">
                  <input
                    class="radio__inner"
                    type="radio"
                    name="difficulty"
                    value="hard"
                  />
                  <span class="radio__icon" aria-hidden="true">
                    <svg
                      class="radio__icon-unchecked"
                      focusable="false"
                      viewBox="0 0 24 24"
                    >
                      <use href="/icon/radio-unchecked.svg#path" />
                    </svg>
                    <svg
                      class="radio__icon-checked"
                      focusable="false"
                      viewBox="0 0 24 24"
                    >
                      <use href="/icon/radio-checked.svg#path" />
                    </svg>
                  </span>
                </span>
                <span class="label__text">
                  <span class="difficulty-name">Hard:</span>
                  Only 3 tries
                  <span class="plus-sign">+</span>
                  <span
                    class="difficulty-name"
                    style="--difficulty-text: var(--difficulty-normal)"
                  >
                    Normal
                  </span>
                </span>
              </label>
              <label class="label" data-type="radio" data-difficulty="master">
                <span class="radio">
                  <input
                    class="radio__inner"
                    type="radio"
                    name="difficulty"
                    value="master"
                  />
                  <span class="radio__icon" aria-hidden="true">
                    <svg
                      class="radio__icon-unchecked"
                      focusable="false"
                      viewBox="0 0 24 24"
                    >
                      <use href="/icon/radio-unchecked.svg#path" />
                    </svg>
                    <svg
                      class="radio__icon-checked"
                      focusable="false"
                      viewBox="0 0 24 24"
                    >
                      <use href="/icon/radio-checked.svg#path" />
                    </svg>
                  </span>
                </span>
                <span class="label__text">
                  <span class="difficulty-name">Master:</span>
                  Only 2 resets
                  <span class="plus-sign">+</span>
                  <span
                    class="difficulty-name"
                    style="--difficulty-text: var(--difficulty-hard)"
                  >
                    Hard
                  </span>
                </span>
              </label>
              <label class="label" data-type="radio" data-difficulty="extreme">
                <span class="radio">
                  <input
                    class="radio__inner"
                    type="radio"
                    name="difficulty"
                    value="extreme"
                  />
                  <span class="radio__icon" aria-hidden="true">
                    <svg
                      class="radio__icon-unchecked"
                      focusable="false"
                      viewBox="0 0 24 24"
                    >
                      <use href="/icon/radio-unchecked.svg#path" />
                    </svg>
                    <svg
                      class="radio__icon-checked"
                      focusable="false"
                      viewBox="0 0 24 24"
                    >
                      <use href="/icon/radio-checked.svg#path" />
                    </svg>
                  </span>
                </span>
                <span class="label__text">
                  <span class="difficulty-name">Extreme:</span>
                  Words with 10 ~ 12 letters
                  <span class="plus-sign">+</span>
                  <span
                    class="difficulty-name"
                    style="--difficulty-text: var(--difficulty-master)"
                  >
                    Master
                  </span>
                </span>
              </label>
              <label class="label" data-type="radio" data-difficulty="insane">
                <span class="radio">
                  <input
                    class="radio__inner"
                    type="radio"
                    name="difficulty"
                    value="insane"
                  />
                  <span class="radio__icon" aria-hidden="true">
                    <svg
                      class="radio__icon-unchecked"
                      focusable="false"
                      viewBox="0 0 24 24"
                    >
                      <use href="/icon/radio-unchecked.svg#path" />
                    </svg>
                    <svg
                      class="radio__icon-checked"
                      focusable="false"
                      viewBox="0 0 24 24"
                    >
                      <use href="/icon/radio-checked.svg#path" />
                    </svg>
                  </span>
                </span>
                <span class="label__text">
                  <span class="difficulty-name">Insane:</span>
                  3 ~ 5 seconds per letter
                  <span class="plus-sign">+</span>
                  <span
                    class="difficulty-name"
                    style="--difficulty-text: var(--difficulty-extreme)"
                  >
                    Extreme
                  </span>
                </span>
              </label>
              <label class="label" data-type="radio" data-difficulty="why">
                <span class="radio">
                  <input
                    class="radio__inner"
                    type="radio"
                    name="difficulty"
                    value="why"
                  />
                  <span class="radio__icon" aria-hidden="true">
                    <svg
                      class="radio__icon-unchecked"
                      focusable="false"
                      viewBox="0 0 24 24"
                    >
                      <use href="/icon/radio-unchecked.svg#path" />
                    </svg>
                    <svg
                      class="radio__icon-checked"
                      focusable="false"
                      viewBox="0 0 24 24"
                    >
                      <use href="/icon/radio-checked.svg#path" />
                    </svg>
                  </span>
                </span>
                <span class="label__text">
                  <span class="difficulty-name">Why?:</span>
                  Words with at least 13 letters
                  <span class="plus-sign">+</span>
                  <span
                    class="difficulty-name"
                    style="--difficulty-text: var(--difficulty-insane)"
                  >
                    Insane
                  </span>
                </span>
              </label>
              <label class="label" data-type="radio" data-difficulty="void">
                <span class="radio">
                  <input
                    class="radio__inner"
                    type="radio"
                    name="difficulty"
                    value="void"
                  />
                  <span class="radio__icon" aria-hidden="true">
                    <svg
                      class="radio__icon-unchecked"
                      focusable="false"
                      viewBox="0 0 24 24"
                    >
                      <use href="/icon/radio-unchecked.svg#path" />
                    </svg>
                    <svg
                      class="radio__icon-checked"
                      focusable="false"
                      viewBox="0 0 24 24"
                    >
                      <use href="/icon/radio-checked.svg#path" />
                    </svg>
                  </span>
                </span>
                <span class="label__text">
                  <span class="difficulty-name">Void:</span>
                  No resets
                  <span class="plus-sign">+</span>
                  <span
                    class="difficulty-name"
                    style="--difficulty-text: var(--difficulty-why)"
                  >
                    Why?
                  </span>
                </span>
              </label>
            </div>
          </form>
        </div>
        <div
          id="stats-tab-content"
          class="tab-content__item"
          role="tabpanel"
          aria-labelledby="stats-tab"
        >
          <p class="not-yet">Missing updates when discovering new words</p>
          <div class="progress" data-stats="total">
            <div class="progress__track"></div>
            <p class="progress__description">
              <span class="progress__title">Total:</span>
              <span class="progress__count">
                <span class="progress__current">0</span>
                /
                <span class="progress__total">0</span>
              </span>
            </p>
          </div>
          <div class="progress" data-stats="easy">
            <div class="progress__track"></div>
            <p class="progress__description">
              <span class="progress__title">Easy:</span>
              <span class="progress__count">
                <span class="progress__current">0</span>
                /
                <span class="progress__total">0</span>
              </span>
            </p>
          </div>
          <div class="progress" data-stats="normal">
            <div class="progress__track"></div>
            <p class="progress__description">
              <span class="progress__title">Normal:</span>
              <span class="progress__count">
                <span class="progress__current">0</span>
                /
                <span class="progress__total">0</span>
              </span>
            </p>
          </div>
          <div class="progress" data-stats="hard">
            <div class="progress__track"></div>
            <p class="progress__description">
              <span class="progress__title">Hard:</span>
              <span class="progress__count">
                <span class="progress__current">0</span>
                /
                <span class="progress__total">0</span>
              </span>
            </p>
          </div>
          <div class="progress" data-stats="master">
            <div class="progress__track"></div>
            <p class="progress__description">
              <span class="progress__title">Master:</span>
              <span class="progress__count">
                <span class="progress__current">0</span>
                /
                <span class="progress__total">0</span>
              </span>
            </p>
          </div>
          <div class="progress" data-stats="extreme">
            <div class="progress__track"></div>
            <p class="progress__description">
              <span class="progress__title">Extreme:</span>
              <span class="progress__count">
                <span class="progress__current">0</span>
                /
                <span class="progress__total">0</span>
              </span>
            </p>
          </div>
          <div class="progress" data-stats="insane">
            <div class="progress__track"></div>
            <p class="progress__description">
              <span class="progress__title">Insane:</span>
              <span class="progress__count">
                <span class="progress__current">0</span>
                /
                <span class="progress__total">0</span>
              </span>
            </p>
          </div>
          <div class="progress" data-stats="why">
            <div class="progress__track"></div>
            <p class="progress__description">
              <span class="progress__title">Why?:</span>
              <span class="progress__count">
                <span class="progress__current">0</span>
                /
                <span class="progress__total">0</span>
              </span>
            </p>
          </div>
          <div class="progress" data-stats="void">
            <div class="progress__track"></div>
            <p class="progress__description">
              <span class="progress__title">Void:</span>
              <span class="progress__count">
                <span class="progress__current">0</span>
                /
                <span class="progress__total">0</span>
              </span>
            </p>
          </div>
        </div>
      </section>
    </dialog>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
