---
to: ssr/<%= name %>/src/layouts/Layout.astro
---

---
import ThemeProvider from "@/components/ThemeProvider.astro";
import "@material-design-icons/font/index.css";
import "@fontsource-variable/montserrat/index.css";
import "@fontsource/montserrat/500.css";
import "@fontsource/montserrat/700.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="<%= h.changeCase.title(name) %>" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title><%= h.changeCase.title(name) %> - DevChallenges</title>
    <ThemeProvider />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --text: #000;
    --bg: #fff;
  }

  [data-theme="dark"] {
    --text: #fff;
    --bg: #242424;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    margin: 0;
    min-width: 320px;
    background-color: var(--bg);
    color: var(--text);
  }
</style>
