.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

.col-span-full {
  grid-column: 1 / -1;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
