#root {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 24px;

  min-height: 100vh;
  min-height: 100dvh;
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 2rem;
}

.content {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(280px, 800px);
  gap: 40px;
  margin: auto;

  .ring-spinner {
    --spinner-size: 60px;
    margin-inline: auto;
  }
}

.quotes-author {
  margin: 0;
  font-size: var(--fs-fluid-3-6);
  font-weight: 700;
  padding-left: 2.45em;
}
