.job-page {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 32px;
  align-items: start;
}
@media (max-width: 767px) {
  .job-page {
    grid-template-columns: unset;
    grid-template-rows: auto 1fr;
  }
}
.job-page__aside {
  display: flex;
  flex-direction: column;
  gap: 36px;

  font-size: var(--fs-0);
}
.back-to-search {
  display: flex;
  align-items: center;
  gap: 12px;

  width: fit-content;
  color: var(--primary);
  text-decoration: none;
  --icon-size: 1.5em;
}
.job-page__apply {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  h3 {
    width: 100%;
    text-transform: uppercase;
    color: var(--text-secondary);
  }

  p {
    color: var(--text);
  }

  .button {
    text-decoration: none;
    --icon-size: 1.5em;
  }
}
.job-page__apply-option {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;

  color: var(--primary);
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-0);
  font-weight: 500;

  --icon-size: 1.5em;

  &:hover {
    text-decoration: underline;
  }
}
