<div class="step-indicator" aria-hidden="true">
  <!-- prettier-ignore -->
  <% if (locals.steps != null) { %>
  <% for (let i = 0; i < steps; i++) { %>
  <span class="step-indicator__step"></span>
  <% } %>
  <% } %>
</div>
