.todo-item {
  --_bg-hover: rgb(0 0 0 / 10%);
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;

  --label-text: var(--text-dark);
  --label-font-weight: 500;
  .label {
    --label-font-size: var(--fs-2);
    font-family: inherit;

    &--checked {
      --label-text: var(--text);
      text-decoration: line-through;
    }
  }
  --checkbox-color: var(--text-secondary);
  --checkbox-bg-hover: var(--_bg-hover);
  --checkbox-size: var(--fs-4);

  --button-padding: 0.5rem;
  .button {
    display: none;
    --button-text: var(--text-light);
    --button-bg-hover: var(--_bg-hover);

    &:hover {
      --button-text: var(--text);
    }

    [data-filter="completed"] & {
      display: inline-flex;
    }
  }

  [data-theme="dark"] & {
    --_bg-hover: rgb(0 0 0 / 20%);
  }
}
