.todo-form {
  display: var(--form-display, flex);
  gap: 24px;

  --input-border-color: var(--text-light);
  --input-border-color-hover: var(--text);
  --input-border-color-focus: var(--primary);
  --input-text: var(--text-dark);
  --placeholder-color: var(--text-secondary);
  .input {
    flex-grow: 1;

    border-radius: 12px;
    padding: 12px;

    font-family: inherit;
    font-weight: 400;
  }

  --button-padding: 20px 40px;
  --button-radius: 12px;
  --button-font-size: var(--fs-0);
  --button-font-weight: 600;
}
