.todo-item {
  --_item-bg-hover: rgb(0 0 0 / 10%);

  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;

  .label {
    color: var(--text-dark);
    font-family: inherit;
    font-size: var(--fs-2);
    font-weight: 500;

    &--checked {
      color: var(--text);
      text-decoration: line-through;
    }
  }

  --checkbox-color: var(--text-secondary);
  --checkbox-bg-hover: var(--_item-bg-hover);
  --checkbox-size: var(--fs-4);

  --button-outline-bg-hover: var(--_item-bg-hover);
  .button {
    display: none;
    padding: 0.5rem;
    color: var(--text-light);

    &:hover {
      color: var(--text);
    }

    [data-filter="completed"] & {
      display: inline-flex;
    }
  }

  [data-theme="dark"] & {
    --_item-bg-hover: rgb(0 0 0 / 20%);
  }
}
