:root {
  font-family: "Ubuntu Mono", monospace;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg: #fff;
  --text: #000;
}

[data-theme="dark"] {
  --bg: #242424;
  --text: #fff;
}

body {
  margin: 0;
  min-width: 320px;

  background-color: var(--bg);

  color: var(--text);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-align: center;
}
