---
import Layout from "../layouts/Layout.astro";
import "../styles/index.scss";
---

<Layout title="Weather App - DevChallenges">
  <div class="city-weather">city weather</div>
  <div class="search-drawer">search drawer</div>
  <main>
    <div class="temperature-converter">temperature converter</div>
    <div class="forecast">forecast</div>
    <div class="highlights">highlights</div>
    <footer>footer</footer>
  </main>
</Layout>
