.weather {
  display: grid;
  grid-template-rows: auto 2fr 2fr 1fr;
  align-items: center;

  background-color: var(--blue);
  padding-block: var(--weather-padding, 42px);

  text-align: center;

  @media (max-width: 767px) {
    background-size: 150%;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding-inline: var(--weather-padding, 42px);
  }

  &__search {
    font-size: var(--fs-1);
  }
}
