---
import "./CityWeather.scss";
---

<aside class="weather">
  <header>
    <button class="weather__search">Search for places</button>
    <button class="weather__current" aria-label="Get current location weather">
      *
    </button>
  </header>
  <picture class="weather-image">
    <img
      src="/cloud-background.png"
      alt="clouds background"
      class="weather-image__background"
    />
  </picture>
  <div class="weather-details">weather details</div>
</aside>
