.forecast {
  display: grid;
  grid-template-columns: var(--forecast-grid-columns, repeat(5, 1fr));
  gap: 26px;
}
.forecast-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  background-color: var(--blue);
  padding: 18px 15px;

  &__day {
    font-size: var(--fs-1);
    font-weight: 500;
    --skeleton-width: 8ch;
  }

  &__icon {
    display: flex;
    justify-content: center;

    img {
      width: 45%;
    }

    --skeleton-height: 100px;
    --skeleton-width: 90px;
  }

  &__degrees {
    display: flex;
    gap: 16px;

    font-size: var(--fs-1);
    font-weight: 500;

    :last-child {
      color: var(--text-secondary);
    }

    --skeleton-width: 6ch;
  }
}
