---
import "./ForecastItem.scss";
---

<div class="forecast-item">
  <h2 class="forecast-item__day">day</h2>
  <picture class="forecast-item__icon">
    <img src="/icons/clear.png" alt="Clear" />
  </picture>
  <div class="forecast-item__temperature">
    <span>max</span>
    <span>min</span>
  </div>
</div>

