---
type Props = {
  value: number;
  unit: string;
};

const { value, unit } = Astro.props;
---

<p class="highlights__value">
  {value ?? "loading..."}
  <span class="highlights__unit">{unit}</span>
</p>
