.search-drawer__form {
  display: flex;
  justify-content: space-between;
  max-width: 372px;
  gap: 16px;

  --label-text: var(--secondary-dark);
  --label-text-focus: var(--text);
  --input-gap: 16px;
  --input-border-color: var(--text-secondary);
  --input-border-color-hover: var(--text);
  --input-border-color-focus: var(--text);
  --input-padding: 12px;
  --input-radius: 0;
  --input-text: var(--text);
  --input-font-size: var(--fs-1);
  .input__inner::placeholder {
    opacity: 1;
    color: var(--secondary-dark);
  }

  --button-radius: 0;
  --button-font-weight: 600;
  .button {
    font-family: inherit;
  }
}
