.search-drawer__results {
  display: grid;
  gap: 12px;

  width: min(100%, 372px);
  padding: 0;
  list-style: none;

  --button-justify: space-between;
  --button-bg: transparent;
  --button-bg-hover: transparent;
  --button-padding: 22px 12px;
  --button-radius: 0;
  --button-text: currentcolor;
  --button-font-size: var(--fs-1);
  --button-font-weight: 500;
  --icon-color: transparent;
  .button {
    width: 100%;
    outline: none;

    &:hover,
    &:focus-visible {
      --icon-color: var(--secondary-dark);
      border-color: var(--secondary-dark);
    }
  }
}
