.search-drawer {
  display: flex;
  flex-direction: column;
  gap: 38px;

  position: absolute;
  grid-column: 1 / 1;

  background-color: var(--blue);
  width: 100%;
  height: 100%;
  padding: 46px;
  padding-top: 12px;

  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 10;

  @media (max-width: 767px) {
    padding: 12px;
  }
  @media (max-width: 1440px) {
    align-items: center;
  }

  &--open {
    transform: translateX(0);
  }

  &__close {
    margin-left: auto;
    cursor: pointer;
  }

  --spinner-size: 60px;
  --spinner-animation-duration: 0.75s;
  .spinner {
    margin-inline: auto;
  }
}
