---
import "./TemperatureConverter.scss";
---

<menu class="temperature-converter">
  <li><button aria-label="Change temperature to Celsius">°C</button></li>
  <li><button aria-label="Change temperature to Fahrenheit">°F</button></li>
</menu>
