---
import "./WeatherDetails.scss";
---

<p class="weather__degree">-1 <span class="weather__degree-unit"> °C </span></p>
<p class="weather__description">Clear</p>
<p class="weather__date">Today • Wed, 17 Jan</p>
<p class="weather__location">London, United Kingdom</p>
