:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* font sizes */
  --song-title-fs: 1.125rem;
  --author-fs: 0.875rem;
  --progress-label-fs: 0.75rem;

  /* colors */
  --primary: #c93b76;
  --card-bg: #121826a6;
  --text: #e5e7eb;
  --text-secondary: #4d5562;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter Variable", sans-serif;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  min-height: 100svh;

  background-image: url("/bg.jpg");
  padding: 2rem;

  color: #000;
}
@media (max-width: 767px) {
  body {
    padding: 1rem;
  }
}
