.player-card {
  max-width: 350px;
  margin: 0 auto;
  padding: 1.25rem;
  padding-bottom: 1.75rem;
  border-radius: 18px;
  background-color: var(--card-bg);
}

.card__cover {
  margin: 0;
}
.card__cover img {
  width: 100%;
  border-radius: 18px;
}

.card__info {
  margin-top: 1rem;
  text-align: center;
}
.card__info * {
  margin: 0;
}
.card__title {
  color: var(--text);
  font-size: var(--song-title-fs);
}
.card__author {
  margin-top: 0.25rem;
  color: var(--text-secondary);
  font-size: var(--author-fs);
}
