.player-card {
  max-width: 350px;
  margin: 0 auto;
  padding: 1.25rem;
  padding-bottom: 1.75rem;
  border-radius: 18px;
  background-color: var(--card-bg);
}

.player-card__cover {
  margin: 0;
}
.player-card__cover img {
  width: 100%;
  border-radius: 18px;
}

.player-card__info {
  margin-top: 1rem;
  text-align: center;
}
.player-card__info * {
  margin: 0;
}
.player-card__title {
  color: var(--text);
  font-size: var(--song-title-fs);
}
.player-card__author {
  margin-top: 0.25rem;
  color: var(--text-secondary);
  font-size: var(--author-fs);
}

.player-card__progress {
  margin-top: 1.5rem;

  --progress-font-size: var(--progress-label-fs);
  --progress-text: var(--text-secondary);
  --progress-bg: var(--text);
  --progress-track-bg: var(--primary);
  /* --progress-track-shadow: var(--shadow-primary); */
  --progress-thumb: var(--primary);
  --progress-thumb-shadow: var(--shadow-primary);
  --progress-thumb-size: 12px;
  --progress-height: 4px;
}

.player-card__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  margin-top: 2.25rem;
}
.player-card__control {
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;

  transition: transform 0.15s ease-in-out;
  cursor: pointer;
}
.player-card__control:hover,
.player-card__control:focus {
  transform: scale(1.1);
}
.player-card__control:hover:not(#control-play-pause),
.player-card__control:focus:not(#control-play-pause) {
  transform: scale(1.15);
}
.player-card__control svg {
  /* NOTE: needed when using event delegation */
  pointer-events: none;
}

#control-play-pause {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  box-shadow: var(--shadow-primary);
  background-color: var(--primary);
  border: none;
  border-radius: 50%;

  color: var(--text);

  --_pause-icon-display: none;
}
#control-play-pause[data-status="playing"] {
  --_play-icon-display: none;
  --_pause-icon-display: initial;
}
#control-play-pause[data-status="stop"] {
  --_pause-icon-display: none;
}
#play-icon {
  display: var(--_play-icon-display);
}
#pause-icon {
  display: var(--_pause-icon-display);
}

#control-prev, #control-next {
  color: var(--text-secondary);
}
