.progress {
  display: flex;
  flex-direction: column;
  gap: var(--progress-gap, 4px);

  color: var(--progress-text);
  font-size: var(--progress-font-size);
  font-weight: var(--progress-font-weight);
}
.progress__marks {
  display: flex;
  justify-content: space-between;
}
/* based on https://blog.logrocket.com/creating-custom-css-range-slider-javascript-upgrades/ */
.progress__bar {
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  height: var(--progress-height, 8px);
  margin: 0;
  background-color: var(--progress-bg, #fff);
  background: linear-gradient(
    to right,
    var(--progress-track-bg) var(--progress-value, 50%),
    var(--progress-bg) var(--progress-value, 50%)
  );
  border-radius: var(--progress-radius, 8px);
  outline: none;

  cursor: pointer;
}
.progress__bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  height: var(--progress-thumb-size, 16px);
  width: var(--progress-thumb-size, 16px);
  background-color: var(--progress-thumb);
  border-radius: 50%;
  border: 1px solid var(--progress-thumb-border, var(--progress-thumb));
  box-shadow: var(--progress-thumb-shadow);
}
.progress__bar::-moz-range-thumb {
  height: var(--progress-thumb-size, 16px);
  width: var(--progress-thumb-size, 16px);
  background-color: var(--progress-thumb);
  border-radius: 50%;
  border: 1px solid var(--progress-thumb-border, var(--progress-thumb));
  box-shadow: var(--progress-thumb-shadow);
}
