#root {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100dvh;

  margin: 0 auto;
  padding: 2rem;
  padding-inline: 3rem;
}

@media (max-width: 767px) {
  #root {
    padding: 1rem;
  }
}

@media (min-width: 1200px) {
  #root {
    padding-inline: 6rem;
  }
}

.button {
  font-family: unset;
  cursor: pointer;
  --button-font-size: var(--fs-0);
}

.credits {
  margin-top: 25px;
}
