:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text: #333;
  --text-light: #4f4f4f;
  --text-secondary: #828282;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

[data-theme="light"] {
  --color-bg: #fff;
  --color-text: #000;
}

[data-theme="dark"] {
  --color-bg: #222;
  --color-text: #fff;

  --filter-input-bg-hover: #444;
  --filter-location-bg-hover: #444;
  --filter-guests-button-bg: #d4d4d4;
  --filter-guests-button-outline-hover: #d4d4d4;

  --searchbar-text: #bbb;
  --searchbar-bg-hover: rgba(200, 200, 200, 0.1);
  --searchbar-divider-color: rgba(225, 225, 225, 0.5);
}

body {
  margin: 0;
  min-width: 320px;

  background-color: var(--color-bg);

  color: var(--color-text);
}

h1 {
  line-height: 1.1;

  font-family: "Poppins", sans-serif;
  text-align: center;
}
