:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

[data-theme="light"] {
  --color-bg: #fff;
  --color-text: #000;
}

[data-theme="dark"] {
  --color-bg: #222;
  --color-text: #fff;

  --searchbar-text: #bbb;
  --searchbar-text-with-value: #fff;
  --searchbar-bg-hover: rgba(200, 200, 200, 0.1);
  --searchbar-divider-color: rgba(225, 225, 225, 0.5);

  --results-city-text: #ddd;
  --results-count-text: #ccc;

  --stay-type-text: #c9c9c9;
  --stay-rating-text: #d4d4d4;
  --stay-description-text: #ddd;
  --stay-host-text: #d4d4d4;
}

body {
  margin: 0;
  min-width: 320px;

  background-color: var(--color-bg);

  color: var(--color-text);
}

h1 {
  line-height: 1.1;

  font-family: "Poppins", sans-serif;
  text-align: center;
}
