:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text: #333;
  --text-light: #4f4f4f;
  --text-secondary: #828282;

  --error: #eb5757;
  --error-hover: #e73434;

  --shadow: 0px 4px 6px 0px rgb(0 0 0 / 10%);

  /* TODO: Add this to internal global styles lib */
  --fs-000: 0.625rem; /* 10px */
  --fs-00: 0.75rem; /* 12px */
  --fs-0: 0.875rem; /* 14px */
  --fs-1: 1rem; /* 16px */
  --fs-2: 1.125rem; /* 18px */
  --fs-3: 1.25rem; /* 20px */
  --fs-4: 1.5rem; /* 24px */

  /* TODO: Add this to internal global styles lib */
  --fs-fluid-000: clamp(0.625rem, 1.5vw, 0.75rem);
  --fs-fluid-00: clamp(0.75rem, 1.5vw, 0.875rem);
  --fs-fluid-0: clamp(0.875rem, 1.5vw, 1rem);
  --fs-fluid-1: clamp(1rem, 2vw, 1.125rem);
  --fs-fluid-2: clamp(1.125rem, 2vw, 1.25rem);
  --fs-fluid-3: clamp(1.25rem, 3vw, 1.5rem);
  --fs-fluid-4: clamp(1.5rem, 3vw, 1.75rem);

  /* custom fluid font sizes */
  --fs-fluid-2-4: clamp(1.125rem, 2vw, 1.5rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[data-theme="light"] {
  --color-bg: #fff;
  --color-text: #000;
}

[data-theme="dark"] {
  --color-bg: #222;
  --color-text: #fff;

  --text: #fff;
  --text-light: #d4d4d4;
  --text-secondary: #c9c9c9;

  --filter-input-bg-hover: #444;
  --filter-location-bg-hover: #444;

  --searchbar-text: #bbb;
  --searchbar-bg-hover: rgba(200, 200, 200, 0.1);
  --searchbar-divider-color: rgba(225, 225, 225, 0.5);
}

body {
  margin: 0;
  min-width: 320px;

  background-color: var(--color-bg);

  color: var(--color-text);
}
