body {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  place-items: center;
  gap: 2rem;
}

header {
  margin-top: auto;
}

main {
  width: min(610px, 100%);
}

.qr-form {
  display: flex;
  gap: 1rem;

  border: 2px solid var(--primary);
  border-radius: 16px;
  padding: 0.5rem;
  padding-left: 2rem;
  background-color: var(--form-bg);
}

.qr-form__trigger {
  flex-shrink: 0;
}

.qr-form__url {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;

  color: inherit;
}
.qr-form__url::placeholder {
  opacity: 1;
  color: var(--input-placeholder);
}
