body {
  display: grid;
  grid-template-rows: auto 1fr;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

#qr-code-image {
  width: min(300px, 100%);
  aspect-ratio: 1;
  padding: 2rem;
  background-color: var(--qr-image-bg);
  border-radius: 50%;

  text-align: center;
}

#qr-code-image img, #qr-code-image canvas {
  width: 100%;
  aspect-ratio: 1;

  border: 2rem solid;
  border-radius: 30px;
}

menu {
  display: flex;
  justify-content: center;
  gap: 2rem;

  margin: 0;
  padding: 0;

  list-style: none;
}

menu button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;

  border: none;
  border-radius: 12px;
  background-color: var(--primary);
  padding: 1rem 2.5rem;

  font-weight: 600;
}

menu button:hover,
menu button:focus {
  background-color: var(--primary-hover);
}
