body {
  display: grid;
  grid-template-rows: auto 1fr;
  padding-block: 3rem;
}

header {
  margin: 0 auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

#qr-code-image {
  width: min(300px, 100%);
  aspect-ratio: 1;
  padding: 2rem;
  background-color: var(--qr-image-bg);
  border-radius: 50%;

  text-align: center;
}

#qr-code-image img,
#qr-code-image canvas {
  width: 100%;
  aspect-ratio: 1;

  border: 2rem solid;
  border-radius: 30px;
}

.qr-menu {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.qr-menu__action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;

  font-weight: 600;
}

.error[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: min(450px, 100%);
  background: #891f33;
  padding: 1rem;
  color: #f8dcdc;
  border-color: #391313;
  border-radius: 12px;

  font-weight: bold;
}
.error::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
.error__message {
  margin: 0;
  font-size: 1.5rem;
}
.error__close {
  padding: 0.75rem 2rem;
  background-color: transparent;
  border: 2px solid #eb9c9c;
}
.error__close:hover {
  background: #eb9c9c3f;
}
