.form-card {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: var(--card-gap);

  max-width: var(--card-max-width);
  padding: var(--card-padding);
  border: 1px solid #4d5562;
  border-radius: 12px;
  background-color: var(--card-bg);

  z-index: 10;
}

.step__title {
  font-size: var(--header-fs);
}
