.form-card {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: var(--card-gap);

  max-width: var(--card-max-width);
  margin-inline: auto;
  padding: var(--card-padding);
  border: 1px solid #4d5562;
  border-radius: 12px;
  background-color: var(--card-bg);

  overflow: hidden;
  z-index: 10;

  /* TODO: Check if this is needed */
  --step-offset: var(--card-padding);
}
