.stepper-indicator {
  display: flex;
  gap: 32px;
  align-items: center;

  font-size: 0.875rem;

  z-index: 5;
}
.stepper-indicator p {
  margin: 0;
  color: #394150;
}

.stepper {
  display: flex;
  gap: 20px;
}
.stepper__step {
  display: inline-block;

  aspect-ratio: 1;
  width: 1rem;
  border-radius: 50%;
  background-color: var(--card-bg);
}
.stepper__step[data-current] {
  background-color: var(--primary);
  outline: 0.5rem solid var(--primary-transparent);
}
