.stepper-indicator {
  display: flex;
  gap: 2rem;
  align-items: center;

  font-size: var(--stepper-label-fs);

  z-index: 5;
}
.stepper-indicator p {
  margin: 0;
  color: var(--secondary-450);
  font-weight: 600;
}

.stepper {
  display: flex;
  gap: 1.25rem;
}
.stepper__step {
  display: inline-block;

  aspect-ratio: 1;
  width: 1em;
  border-radius: 50%;
  background-color: var(--secondary-450);
}
.stepper__step[data-completed] {
  background-color: var(--primary);
}
.stepper__step[data-current] {
  background-color: var(--primary);
  outline: 0.5em solid var(--primary-transparent);
}
