.quiz-character {
  position: absolute;

  top: var(--character-top-offset, -75px);
  right: 0;
  height: var(--character-height, auto);
}

.quiz-question {
  margin: 0;

  color: var(--primary-dark);
  font-weight: 700;
  font-size: var(--fs-fluid-3);
}

.quiz-footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;

  margin: 0;
}

.quiz-current-question {
  margin: 0 auto;

  color: var(--primary-dark);
  font-size: var(--fs-fluid-3);
  font-weight: 700;
  letter-spacing: 4px;
}

.quiz-flag {
  height: 54px;
  aspect-ratio: 1.55 / 1;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--primary);

  animation: skeleton 1.25s linear infinite alternate;
}

@keyframes skeleton {
  0% {
    background-color: var(--primary);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.quiz-answers {
  display: grid;
  gap: var(--answers-gap, 32px);

  &__option {
    gap: var(--option-gap, 40px);
    justify-content: flex-start;

    --button-outline-bg-hover: var(--warning);
    --button-text-disabled: var(--primary);
    --button-outline-color: var(--primary);
    --button-padding: 10px 20px;
    --button-radius: 12px;

    font-size: var(--fs-fluid-0-2);
    text-align: left;

    &:hover:enabled,
    &:focus:enabled,
    &.correct,
    &.wrong {
      color: #fff;
    }

    &.correct {
      --button-bg-disabled: var(--success);
      border-color: var(--success);
    }
    &.wrong {
      --button-bg-disabled: var(--error);
      border-color: var(--error);
    }

    &::before {
      font-size: 1.33em;
    }
    &:nth-child(1)::before {
      content: "A";
    }
    &:nth-child(2)::before {
      content: "B";
    }
    &:nth-child(3)::before {
      content: "C";
    }
    &:nth-child(4)::before {
      content: "D";
    }

    & .material-icons-outlined {
      margin-left: auto;
      --icon-size: 24px;
    }
  }
}

.quiz-button {
  --button-radius: 12px;
  --button-padding: 14px 36px;
  --button-font-weight: 700;
  font-size: var(--fs-fluid-0-2);
}
