.winner {
  margin-inline: auto;
  color: #000;
}

.results-message {
  color: var(--primary-darkest);

  h2 {
    margin: 0;
    font-weight: 700;
    font-size: var(--fs-fluid-6-8);
  }
}

.results-points {
  margin: 0;
  font-size: var(--fs-2);
  font-weight: 400;

  &__correct {
    color: var(--success-light);
    font-size: var(--fs-6);
    font-weight: 700;
  }
}

.try-again {
  margin-inline: auto;

  --button-outline-bg-hover: var(--primary-darkest);
  border-radius: 12px;
  border-width: 2px;
  padding: 18px 60px;
  color: var(--primary-darkest);
  font-size: var(--fs-2);
  font-weight: 600;

  &:hover {
    color: #fff;
    border-color: var(--primary-darkest);
  }
}
