.debug {
  border: 1px solid red;
}

.job-card {
  display: grid;
  align-items: center;
  grid-template-areas:
    "image company  .        ."
    "image title    title    title"
    "image schedule location created-at";
  grid-template-columns: var(--card-cols, 60px 1fr auto auto);
  gap: 10px 16px;

  padding: 12px;
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  outline: none;

  color: var(--text);
  font-size: var(--fs-00);

  cursor: pointer;

  &:hover,
  &:focus-visible {
    outline: 1px solid var(--text);
    --title-decoration: underline;
  }

  @media (max-width: 767px) {
    grid-template-areas:
      "image company  company"
      "image title    title"
      "image schedule ."
      ".     location created-at";
  }

  &__image {
    grid-area: image;
    margin-block: var(--image-margin);

    img {
      width: 60px;
      border-radius: 4px;
    }
  }
  &__no-image {
    display: grid;
    place-items: center;

    border-radius: 4px;
    background-color: rgb(64 64 64 / 7%);
    aspect-ratio: 1 / 1;

    color: #bdbdbd;
    text-align: center;
    font-weight: 500;
  }

  &__company {
    grid-area: company;
    margin-top: var(--company-margin-top);
    font-size: var(--company-fs, var(--fs-00));
    font-weight: 700;
  }

  &__title {
    grid-area: title;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    text-decoration: var(--title-decoration);
    font-size: var(--title-fs, clamp(1rem, 2vw, var(--fs-2)));
    font-weight: var(--title-fw, 400);
  }

  &__schedule-type {
    grid-area: schedule;
    font-weight: 700;
    font-size: var(--fs-00);

    border: 1px solid;
    border-radius: 4px;
    padding: 6px 8px;
    margin-right: auto;
  }

  &__location {
    grid-area: location;
    margin-inline: var(--location-margin-inline, auto 0);
    margin-bottom: var(--location-margin-bottom);
  }

  &__created {
    grid-area: created-at;
  }

  &__location,
  &__created {
    display: flex;
    align-items: center;
    gap: 6px;

    color: var(--text-secondary);
    font-weight: 500;
    --icon-size: 1.5em;
  }

  &__description {
    grid-area: description;
    font-size: 1rem;
    white-space: pre-wrap;
  }

  .material-icons {
    flex-shrink: 0;
  }
}
.job-page .job-card {
  grid-template-areas:
    "title       title      title"
    "created-at  created-at ."
    "image       company    ."
    "image       location   ."
    "description description description";
  --card-cols: 60px auto 1fr;

  padding: 0;
  box-shadow: none;
  margin-bottom: auto;

  cursor: default;

  &:hover,
  &:focus-visible {
    outline: none;
    --title-decoration: none;
  }

  --title-fs: var(--fs-4);
  --title-fw: 700;

  --image-margin: 20px;

  --company-margin-top: 10px;
  --company-fs: var(--fs-2);

  --location-margin-inline: 0;
  --location-margin-bottom: 10px;

  @media (max-width: 1050px) {
    grid-template-areas:
      "title       title"
      "schedule    ."
      "created-at  ."
      "image       company"
      "image       location"
      "description description";
    --card-cols: auto 1fr auto;
  }
}
