main {
  display: grid;
  gap: 32px;
  grid-template-rows: auto 1fr;

  nav {
    margin-top: auto;
  }

  .spinner {
    margin-inline: auto;
  }
}

.job-results {
  display: grid;
  gap: 32px;

  &__link {
    text-decoration: none;
  }
}
