.search-form {
  grid-area: search-form;

  background-image: url("/background.png");
  background-position: center;
  background-size: cover;
  padding-block: 42px;
  border-radius: 8px;
}

.search-form__inner {
  display: flex;
  gap: 4px;

  background: #fff;
  border-radius: 4px;
  padding: 4px;
  margin-inline: auto;
  width: 75%;

  &:focus-within {
    outline: 2px solid var(--primary);
  }

  &[data-loading="true"] {
    .button {
      --primary: var(--primary-disabled);
      --primary-hover: var(--primary-disabled);
      pointer-events: none;
    }
  }

  --label-text: #5c6070;
  --label-text-focus: var(--primary);
  .label {
    justify-content: center;
  }

  --icon-size: 1.5em;
  --placeholder-color: #5c6070;
  .input {
    gap: 8px;
    border-color: transparent;
    outline: none;
    padding: 10px;

    font-size: var(--fs-00);
  }

  --button-padding: 14px 48px;
  --button-radius: 4px;
  --button-font-size: 1rem;

  @media (max-width: 767px) {
    width: 90%;
    --button-padding: 14px 26px;
  }
}
