.search-options {
  grid-area: search-options;
  display: flex;
  flex-direction: column;
  gap: 24px;

  font-family: "Poppins", sans-serif;

  --label-text: var(--text-secondary);
  --label-text-focus: var(--primary);
  --label-font-weight: 700;
  --label-font-size: var(--fs-0);
  .label--checkbox,
  .label--radio {
    width: fit-content;
    color: var(--text);
    font-size: var(--fs-0);
    font-weight: 500;
  }

  --checkbox-color: var(--text-secondary);
  --radio-color: var(--text-secondary);
  --radio-checked-color: var(--primary);

  --input-border-color: transparent;
  --input-border-color-hover: var(--text-secondary);
  --input-border-color-focus: var(--primary);
  --icon-size: 1.5em;
  .input {
    align-items: center;
    box-shadow: var(--box-shadow);

    font-family: "Roboto", sans-serif;
    font-size: var(--fs-00);
    font-weight: 400;
  }

  [data-theme="dark"] & {
    --input-text: var(--text-color);
  }
}
