.tooltip {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  @media (hover: hover) and (pointer: fine) {
    &__checkbox:checked ~ .tooltip__content {
      --_visibility: visible;
      --_opacity: 1;
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--tooltip-icon-color);

    cursor: pointer;
    user-select: none;
    z-index: 1;

    &:hover ~ .tooltip__content {
      --_visibility: visible;
      --_opacity: 1;
    }
  }

  &__content {
    --_visibility: hidden;
    --_opacity: 0;
    --_transition-duration: var(--tooltip-content-transition-duration, 0.3s);
    --_transition-timing-function: var(
      --tooltip-content-transition-timing-function,
      ease-in-out
    );
    --_arrow-size: var(--tooltip-arrow-size, 1.3em);
    position: absolute;
    top: 100%;

    min-width: var(--tooltip-content-min-width, 13em);
    background-color: var(--tooltip-content-bg);
    border-radius: 8px;
    padding: 0.5em;

    color: var(--tooltip-content-text);
    text-align: center;

    opacity: var(--_opacity);
    visibility: var(--_visibility);
    transform: translateY(
      calc(var(--_arrow-size) * 0.5 + var(--tooltip-content-offset, 4px))
    );
    transition: opacity, visibility;
    transition-duration: var(--_transition-duration);
    transition-timing-function: var(--_transition-timing-function);

    &:hover {
      visibility: visible;
      opacity: 1;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;

      width: 1em;
      border: 0.5em solid transparent;
      border-bottom-color: var(--tooltip-content-bg);
      margin-inline: auto;

      font-size: var(--_arrow-size);
    }
  }
}
