@use '../scss/mixins' as *;

.filter-guests-criteria {
  display: flex;
  flex-direction: column;
  gap: 12px;

  font-family: "Mulish", sans-serif;
  font-size: 14px;

  &__label {
    color: #333;
    font-weight: 700;
  }

  &__hint {
    margin-top: -10px;
    color: #bdbdbd;
  }
}

.filter-guests-counter {
  display: flex;
  gap: 16px;

  &__button {
    --button-bg: transparent;
    --button-outline-color: #828282;
    --icon-size: 16px;

    padding: 2px;
    cursor: pointer;
    border-radius: 4px;

    &:hover:not(:disabled) {
      --button-outline-color: #222;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__count {
    font-size: 14px;
    font-weight: 700;
  }
}

.filter-guests-menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-area: guests-menu;

  @include extra-small-screen {
    margin-block: 30px;
    margin-left: 25px;
  }
}

.filter-guests-input {
  grid-area: guests-input;
  border-inline: 1px solid #e5e5e5;

  @include extra-small-screen {
    border-inline: none;
    border-top: 1px solid #e5e5e5;
    @include border-bottom-rounded(16px);
  }
}
