@use "../scss/mixins" as *;

.filter-container {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;

  width: 100%;
  background-color: var(--color-bg);

  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;

  z-index: 20;

  &--open {
    transform: translateY(0);
  }
}

.filter-backdrop {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100%;
  background-color: rgb(0 0 0 / 25%);
  z-index: 10;
}

@mixin drawer-wildcard-area($area) {
  grid-template-areas:
    "header"
    "location-input"
    "guests-input"
    $area
    "search-button";
}

.filter-drawer {
  display: grid;
  grid-template-columns: var(--grid-columns, repeat(3, 1fr));
  grid-template-rows: var(--grid-rows,  min-content 180px);
  grid-template-areas:
    "location-input  guests-input  search-button"
    "location-menu   guests-menu   .";
  row-gap: 30px;

  width: 100%;
  max-width: 1280px;
  padding: 3rem;
  overflow: hidden;

  transition: grid-template-rows 0.3s ease;

  @include extra-small-screen {
    --grid-columns: 1fr;
    --grid-rows: auto auto auto 250px auto;

    row-gap: 0;
    padding: 6px 12px 24px 12px;

    &[data-filter="LOCATION"] {
      @include drawer-wildcard-area("location-menu");
    }
    &[data-filter="GUESTS"] {
      @include drawer-wildcard-area("guests-menu");
    }
  }

  &__header {
    --button-bg: none;
    --button-bg-hover: none;
    --button-shadow: none;

    grid-area: header;
    display: none;

    font-family: 'Mulish', sans-serif;
    font-weight: 700;

    @supports (font-variation-settings: normal) {
      font-family: "Mulish Variable", sans-serif;
    }

    @include extra-small-screen {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .button {
      padding-right: 0;
    }
  }

  &__search-button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: search-button;

    @include border-right-rounded(16px);
    box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 10%);

    @include extra-small-screen {
      box-shadow: none;
    }
  }

  &__search-button {
    --danger: #eb5757;
    --danger-hover: #e73434;

    border-radius: 16px;
    padding: 14px 26px;
  }
}
