.filter-location-menu {
  display: flex;
  flex-direction: column;
  grid-area: location-menu;

  overflow-y: auto;

  margin: 0;
  padding-left: 10px;

  &__option {
    --icon-color: #4f4f4f;

    display: flex;
    align-items: center;
    gap: 10px;

    border-radius: 16px;
    padding: 10px;

    color: #4f4f4f;

    cursor: pointer;

    &:hover {
      background-color: #efefef;
    }
  }
}

.filter-location-input {
  grid-area: location-input;
  border-radius: 16px 0 0 16px;
}
