.filter-location {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-inline: 20px;
  }

  &__option {
    --icon-color: #4f4f4f;

    display: flex;
    align-items: center;
    gap: 10px;

    color: #4f4f4f;
  }

  .filter-input {
    border-radius: 16px 0 0 16px;
  }
}
