.filter-input {
  box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 10%);

  color: #333;
  font-family: "Mulish", sans-serif;

  span {
    display: flex;
    flex-direction: column;
    gap: 4px;

    border: solid 1px transparent;
    border-radius: 16px;
    padding: 10px 26px;

    font-weight: 800;
    font-size: 10px;
    text-transform: uppercase;

    cursor: pointer;

    &:hover:not(.selected) {
      background-color: #efefef;
    }

    &.selected {
      border: solid 1px #333;
    }
  }

  input {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;

    font-family: "Mulish", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333;

    cursor: unset;
  }
}
