@use "../scss/mixins" as *;

.location-menu {
  display: flex;
  flex-direction: column;
  grid-area: location-menu;

  overflow-y: auto;

  margin: 0;
  padding-left: 10px;

  @include extra-small-screen {
    margin-block: 30px;
  }

  &__option {
    display: flex;
    align-items: center;
    gap: 10px;

    border-radius: 16px;
    padding: 10px;

    color: var(--text-light);

    cursor: pointer;

    &:hover {
      background-color: var(--filter-location-bg-hover, #efefef);
    }
  }
}

.location-input {
  grid-area: location-input;
  @include border-left-rounded(16px);

  @include extra-small-screen {
    @include border-top-rounded(16px);
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 10%);
  }
}
