@use "../scss/mixins" as *;

.guests-criteria {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include font-variable("Mulish", sans-serif);
  font-size: 14px;

  &__label {
    color: var(--text);
    font-weight: 700;
  }

  &__hint {
    margin-top: -10px;
    color: #bdbdbd;
  }
}

.guests-counter {
  display: flex;
  gap: 16px;

  [data-theme="dark"] & {
    --button-outline-bg-hover: #444;
    --button-outline-color-disabled: #4f4f4f;
  }

  &__button {
    --button-bg: transparent;
    --button-outline-color: var(--text-secondary);
    --button-padding: 2px;
    --button-radius: 4px;
    --icon-size: 16px;

    cursor: pointer;

    &:hover:not(:disabled) {
      --button-outline-color: #222;
      --button-outline-color: var(--filter-guests-button-outline-hover, #222);
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  &__count {
    font-size: 14px;
    font-weight: 700;
  }
}

.guests-menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-area: guests-menu;

  @include extra-small-screen {
    margin-block: 30px;
    margin-left: 25px;
  }
}

.guests-input {
  grid-area: guests-input;
  border-inline: 1px solid #e5e5e5;

  @include extra-small-screen {
    border-inline: none;
    border-top: 1px solid #e5e5e5;
    @include border-bottom-rounded(16px);
  }
}
