.filter-guests-criteria {
  display: flex;
  flex-direction: column;
  gap: 12px;

  font-family: "Mulish", sans-serif;
  font-size: 14px;

  &__label {
    color: #333;
    font-weight: 700;
  }

  &__hint {
    margin-top: -10px;
    color: #bdbdbd;
  }
}

.filter-guests-counter {
  display: flex;
  gap: 16px;

  &__button {
    --button-bg: transparent;
    --button-outline-color: #828282;
    --icon-size: 16px;

    padding: 2px;
    cursor: pointer;
    border-radius: 4px;

    &:hover:not(:disabled) {
      --button-outline-color: #222;
    }
  }

  &__count {
    font-size: 14px;
    font-weight: 700;
  }
}

.filter-guests-menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
  grid-area: guests-menu;
}

.filter-guests-input {
  border-inline: 1px solid #e5e5e5;
}
