@use "@scss/mixins" as *;

.main-header {
  display: grid;
  grid-template-areas: "logo searchbar theme-button";
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  margin-bottom: 32px;

  &__logo {
    grid-area: logo;
  }

  @include extra-small-screen {
    gap: 0;
    grid-template-areas: "logo . theme-button" "searchbar searchbar searchbar";
    margin-bottom: 12px;
  }
}

.theme-button {
  grid-area: theme-button;
}
[data-theme="dark"] .theme-button {
  --icon-color: #87ceeb;
}
