.search-results {
  font-family: "Montserrat", sans-serif;

  &__city {
    color: #333;
    font-size: 24px;
    font-weight: 700;
  }

  &__count {
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 500;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 32px;
  }
}
