@use "../scss/mixins" as *;

.search-results {
  @include font-variable("Montserrat", sans-serif);

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__city {
    margin-block: 32px;

    color: var(--text);
    font-size: var(--fs-fluid-2-4);
    font-weight: 700;

    @include extra-small-screen {
      margin-block: 24px;
    }
  }

  &__count {
    color: var(--text-light);
    font-size: var(--fs-0);
    font-weight: 500;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 32px;
  }
}
