@use "../scss/mixins" as *;

.searchbar {
  --button-bg: transparent;
  --button-bg-hover: var(--searchbar-bg-hover, #efefef);
  --button-divider-color: var(--searchbar-divider-color, #e5e5e5);
  --button-shadow: 0px 4px 6px 0px var(--shadow-color, rgb(0 0 0 / 10%));
  --button-radius: 16px;
  --button-padding: 18px 16px;
  --button-text: var(--searchbar-text, #bdbdbd);
  --button-font-weight: 400;

  grid-area: searchbar;
  margin-inline: auto 0;

  &:hover {
    --shadow-color: rgb(0 0 0 / 25%);
  }

  @include extra-small-screen {
    margin-inline: auto;
  }

  &__location.with-value,
  &__guests.with-value {
    --button-text: var(--text);
  }

  &__search {
    --icon-color: var(--error);
    --button-padding: 18px;
  }
}
