@use "../scss/mixins" as *;

.stay-card {
  display: flex;
  flex-direction: column;
  gap: 12px;

  font-family: "Montserrat", sans-serif;

  &__image {
    object-fit: cover;
    border-radius: 24px;
    width: 100%;

    aspect-ratio: 16 / 10.5;
  }

  &__features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    height: 25px;
  }

  &__super-host {
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid;
    padding: 6px 10px;

    color: var(--stay-host-text, #4f4f4f);
    font-size: 12px;
    font-weight: 700;

    @include extra-small-screen {
      padding-inline: 8px;
      font-size: 10px;
    }
  }

  &__type {
    color: var(--stay-type-text, #828282);
    font-size: 14px;
    font-weight: 500;

    @include extra-small-screen {
      font-size: 12px;
    }
  }

  &__rating {
    --icon-color: #eb5757;
    --icon-size: 18px;

    display: inline-flex;
    align-items: center;
    gap: 4px;

    margin-left: auto;

    color: var(--stay-rating-text, #4f4f4f);
    font-size: 14px;
    font-weight: 500;

    @include extra-small-screen {
      --icon-size: 16px;
      font-size: 12px;
    }
  }

  &__description {
    margin: 0;

    color: var(--stay-description-text, #333);
    font-size: 16px;
    font-weight: 600;

    @include extra-small-screen {
      font-size: 14px;
    }
  }
}
