@use "../scss/mixins" as *;

.stay-card {
  // NOTE: Smallest supported screen size is 360px
  // WARNING: Screens less than 360px can affect display of internal elements
  display: flex;
  flex-direction: column;
  gap: 12px;

  font-family: "Montserrat", sans-serif;

  &__image {
    object-fit: cover;
    border-radius: 24px;

    aspect-ratio: 16 / 10.5;
  }

  &__features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    height: 25px;
  }

  &__super-host {
    // WARNING: In resolutions less than 340px, text can be wrapped
    border-radius: 12px;
    border: 1px solid #4f4f4f;
    padding: 6px 10px;

    color: #4f4f4f;
    font-size: 12px;
    font-weight: 700;

    @include extra-small-screen {
      padding-inline: 8px;
      font-size: 10px;
    }
  }

  &__type {
    color: #828282;
    font-size: 14px;
    font-weight: 500;

    @include extra-small-screen {
      font-size: 12px;
    }
  }

  &__rating {
    --icon-color: #eb5757;
    --icon-size: 18px;

    display: inline-flex;
    align-items: center;
    gap: 4px;

    margin-left: auto;

    color: #4f4f4f;
    font-size: 14px;
    font-weight: 500;

    @include extra-small-screen {
      --icon-size: 16px;
      font-size: 12px;
    }
  }

  &__description {
    // WARNING: In resolutions less than 340px, some descriptions are line wrapped
    margin: 0;

    color: #333;
    font-size: 16px;
    font-weight: 600;

    @include extra-small-screen {
      font-size: 14px;
    }
  }
}
