<template id="definition-template">
  <li>
    <details class="definition" name="definition">
      <summary class="definition__label"></summary>
      <section class="definition__content">
        <%- include("RingSpinner") %>
      </section>
    </details>
  </li>
</template>
