#difficulty-menu-tab-content {
  --_disabled-color: var(--gray-400);

  --label-font-size: var(--difficulty-option-font-size, 1.125rem);
  --label-text: var(--text);
  --label-text-disabled: var(--_disabled-color);

  --radio-group-gap: 0.25rem;
  --radio-size: 1.25rem;
  --radio-bg-hover: var(--gray-400-15);
  --radio-color-disabled: var(--_disabled-color);
}

#difficulty-menu-tab-content .label {
  width: fit-content;
}

#difficulty-menu-tab-content .radio {
  --radio-color: var(--difficulty-text);
}

#difficulty-menu-tab-content .difficulty-name {
  font-weight: bold;
}
#difficulty-menu-tab-content .label[data-disabled] .difficulty-name {
  --difficulty-text: var(--_disabled-color);
}

.plus-sign {
  color: var(--primary);
  font-size: 1.25em;
  line-height: 1;
  align-self: center;
}
