.progress[data-stats="total"] {
  --progress-bg: var(--slate-600);
}
.progress[data-stats="easy"] {
  --progress-bg: var(--difficulty-easy);
}
.progress[data-stats="normal"] {
  --progress-bg: var(--difficulty-normal);
}
.progress[data-stats="hard"] {
  --progress-bg: var(--difficulty-hard);
}
.progress[data-stats="master"] {
  --progress-bg: var(--difficulty-master);
}
.progress[data-stats="extreme"] {
  --progress-bg: var(--difficulty-extreme);
}
.progress[data-stats="insane"] {
  --progress-bg: var(--difficulty-insane);
}
.progress[data-stats="why"] {
  --progress-bg: var(--difficulty-why);
}
.progress[data-stats="void"] {
  --progress-bg: var(--difficulty-void);
}
