.steps-container {
  --_step-counter: 1;
  --_step-offset: var(--step-offset, 0);
  display: flex;
  gap: var(--_step-offset);

  transform: translateX(calc((var(--_step-counter) - 1) * -100%))
    translateX(calc((var(--_step-counter) - 1) * var(--_step-offset) * -1));
  transition: transform 0.3s ease-in-out;
}

.step {
  width: 100%;
  flex-shrink: 0;
  visibility: hidden;

  padding: 0;
  margin: 0;
  border: none;

  transition: visibility 0.3s ease-in-out;
}
.step--current {
  visibility: visible;
}
.step__title {
  margin: 0;
  padding: 0;
  font-size: var(--step-heading-fs);
  font-weight: 700;
}

.register-step {
  display: flex;
  flex-direction: column;
  gap: var(--register-fields-gap);
}
.register-step label {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  align-items: flex-start;

  color: var(--label-text);
  font-size: var(--label-text-fs);
  font-weight: 600;
  line-height: normal;
}
.register-step label input {
  width: 100%;
  padding: 1rem 0.875rem;
  border: 2px solid var(--secondary-400);
  border-radius: 12px;
  outline: none;
  background-color: transparent;

  color: var(--secondary-200);
  font-size: inherit;
}
.register-step label input:focus {
  border-color: var(--primary-light);
}
.register-step label input::placeholder {
  color: var(--placeholder-text);
  opacity: 1;
}
.register-step .input--with-error,
.register-step .input--with-error:focus {
  border-color: rgba(255, 0, 0, 0.5);
}

.topics-step {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.topics-step__group {
  display: flex;
  flex-direction: column;
  gap: var(--topic-group-gap);
}

.topic-option {
  display: grid;
}
.topic-option__label {
  --_bg: var(--topic-option-bg);
  --_text: var(--topic-option-text);

  grid-area: 1 / 1;

  padding: 1rem;
  border-radius: 16px;
  background-color: var(--_bg);
  box-shadow: 0 1px 2px 2px var(--secondary-550-transparent);

  color: var(--_text);
}
.topic-option input {
  grid-area: 1 / 1;

  margin: 0;
  opacity: 0;

  cursor: pointer;
}
.topic-option input:hover + .topic-option__label,
.topic-option input:focus + .topic-option__label {
  --_bg: var(--secondary-400);
}
.topic-option input:focus + .topic-option__label {
  outline: 2px solid var(--secondary-200);
}
.topic-option input:checked + .topic-option__label {
  --_bg: var(--primary);
  --_text: var(--secondary-200);
  font-weight: 600;
}

.summary-step {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.summary-step__group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  font-weight: 600;
}
.summary-step__group * {
  margin: 0;
}
.summary-step__group p {
  color: var(--secondary-300);
}
.summary-register,
.summary-topics,
.summary-topics__list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.summary-register__name,
.summary-register__email {
  color: var(--secondary-200);
}
.summary-topics__list {
  padding-left: 1.5rem;
}
