.steps-container {
  --_step-counter: 1;
  --_step-offset: var(--step-offset, 0);
  display: flex;
  gap: var(--_step-offset);

  transform: translateX(calc((var(--_step-counter) - 1) * -100%))
    translateX(calc((var(--_step-counter) - 1) * var(--_step-offset) * -1));
  transition: transform 0.3s ease-in-out;
}

.step {
  width: 100%;
  flex-shrink: 0;
  visibility: hidden;

  padding: 0;
  margin: 0;
  border: none;

  transition: visibility 0.3s ease-in-out;
}
.step--current {
  visibility: visible;
}
.step__title {
  margin: 0;
  padding: 0;
  font-size: var(--step-heading-fs);
  font-weight: 700;
}
