.topics-step > * + * {
  margin-top: 1.5rem;
}
.topics-step .step__title {
  margin-bottom: 1rem;
}
.topics-step__group {
  display: flex;
  flex-direction: column;
  gap: var(--topic-group-gap);
}

.topic-option {
  display: grid;
}
.topic-option__label {
  --_bg: var(--topic-option-bg);
  --_text: var(--topic-option-text);

  grid-area: 1 / 1;

  padding: 1rem;
  border-radius: 16px;
  background-color: var(--_bg);
  box-shadow: 0 1px 2px 2px var(--secondary-550-transparent);

  color: var(--_text);
}
.topic-option input {
  grid-area: 1 / 1;

  margin: 0;
  opacity: 0;

  cursor: pointer;
}
.topic-option input:hover + .topic-option__label,
.topic-option input:focus + .topic-option__label {
  --_bg: var(--secondary-400);
}
.topic-option input:focus + .topic-option__label {
  outline: 2px solid var(--secondary-200);
}
.topic-option input:checked + .topic-option__label {
  --_bg: var(--primary);
  --_text: var(--secondary-200);
  font-weight: 600;
}
