@use "../scss/mixins" as *;

.main-nav {
  grid-area: nav;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border-bottom: 1px solid var(--text-light);

  &__link {
    position: relative;

    padding: 18px;

    color: var(--text);
    @include font-variable("Montserrat", sans-serif);
    font-size: var(--fs-0);
    font-weight: 600;
    text-align: center;
    text-decoration: none;

    &::after {
      content: "";
      display: block;
      position: absolute;

      inset-inline: 0;
      bottom: 0;
      height: 4px;
      width: 90px;
      margin: 0 auto;
      border-radius: 4px 4px 0 0;

      background-color: var(--primary);

      transform: scaleX(0);
      transition: transform 0.3s ease;
    }
    &--selected::after {
      transform: scaleX(1);
    }
  }
}
