.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;

  --label-text: var(--text-dark);
  --label-font-family: "Montserrat", sans-serif;
  --label-font-weight: 500;
  .label {
    --label-font-size: 18px;

    &--checked {
      --label-text: var(--text);
      text-decoration: line-through;
    }
  }
  --checkbox-color: var(--text-secondary);
  --checkbox-size: 24px;

  --button-padding: 0.5rem;
  .button {
    display: none;
    --button-text: var(--text-light);
    --button-bg-hover: var(--_bg-hover, rgb(0 0 0 / 10%));

    &:hover {
      --button-text: var(--text);
    }

    [data-filter="completed"] & {
      display: inline-flex;
    }
  }
  [data-theme="dark"] & {
    --_bg-hover: rgb(0 0 0 / 20%);
  }
}
