.todo-form {
  --_ff: "Montserrat", sans-serif;
  display: var(--form-display, flex);
  gap: 24px;

  --input-border-color: var(--text-light);
  --input-border-color-hover: var(--text);
  --input-border-color-focus: var(--primary);
  --input-padding: 12px;
  --input-radius: 12px;
  --input-text: var(--text-dark);
  --input-font-weight: 400;
  --placeholder-color: var(--text-secondary);
  .input {
    flex-grow: 1;
    font-family: var(--_ff);

    &__inner::placeholder {
      opacity: 1;
    }
  }

  --button-padding: 20px 40px;
  --button-radius: 12px;
  --button-font-family: var(--_ff);
  --button-font-size: 14px;
  --button-font-weight: 600;
}
