.todo-item {
  display: flex;
  justify-content: space-between;

  list-style: none;

  --label-font-family: "Montserrat", sans-serif;
  --label-font-weight: 500;
  .label {
    --label-font-size: 18px;

    &--checked {
      text-decoration: line-through;
    }
  }
  --checkbox-color: #343434;
  --checkbox-size: 24px;

  &__delete {
    --icon-color: #bdbdbd;
    display: none;
    cursor: default;

    &:hover {
      --icon-color: #696969;
    }

    [data-filter="completed"] & {
      display: inline;
    }
  }
}
