.todo-form {
  display: var(--form-display, flex);
  gap: 24px;
  font-family: "Montserrat", sans-serif;

  --input-border-color: #bdbdbd;
  --input-border-color-focus: var(--primary);
  --input-padding: 12px;
  --input-radius: 12px;
  --input-font-weight: 400;
  .input {
    flex-grow: 1;
    font-family: "Montserrat", sans-serif;

    &__inner::placeholder {
      opacity: 1;
    }
  }

  --button-padding: 20px 40px;
  --button-radius: 12px;
  --button-font-family: "Montserrat", sans-serif;
  --button-font-size: 14px;
  --button-font-weight: 600;

  [data-theme="dark"] & {
    --input-text: #fff;
    --input-border-color-hover: #fff;
    --placeholder-color: #bbb;
  }
}
