#root {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 24px;

  min-height: 100vh;
  min-height: 100dvh;
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 2rem;
}

.main-header {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  padding-block: 1rem;

  --icon-size: var(--fs-4);

  &__random-button {
    --button-bg: transparent;
    --button-bg-hover: var(--bg-hover);
    --button-bg-disabled: rgb(180 180 180 / 0.75);
    --button-text: var(--text-light);
    --button-text-disabled: rgb(36 36 36 / 0.5);
    // NOTE: Rem units will be used from next version of @hrc/button
    --button-font-size: var(--fs-0);
    font-family: inherit;
    font-weight: 500;

    &:hover,
    &:focus {
      --text-light: #fff;
    }
  }

  .theme-button {
    margin: auto 0;
    --icon-color: #87ceeb;
  }
}

.content {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(280px, 800px);
  gap: 40px;
  margin: auto;

  .ring-spinner {
    --spinner-size: 60px;
    margin-inline: auto;
  }
}

.quotes-author {
  margin: 0;
  font-size: var(--fs-fluid-3-6);
  font-weight: 700;
  padding-left: 2.45em;
}

.credits {
  // TODO: add this to @internal/components/src/Footer
  @supports (font-variation-settings: normal) {
    font-family: "Montserrat Variable", sans-serif;
  }
}
