#root {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
  min-height: 100dvh;
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 2rem;
}

.main-header {
  --button-bg: transparent;
  --button-bg-hover: #e0e0e0;

  display: flex;
  justify-content: flex-end;
  gap: 10px;

  padding-block: 1rem;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: 0 auto;

  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 500;
}

.quote p {
  padding-left: 80px;
  border-left: 8px solid #f7df94;
}
.quote p::before {
  content: "\201C";
}
.quote p::after {
  content: "\201D";
}

.quote footer {
  width: fit-content;
}

.quote-credits {
  display: grid;
  align-items: center;
  gap: 8px;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    "author . arrow"
    "genre . arrow";

  width: 680px;
  background-color: transparent;
  border: none;
  padding: 50px 30px;

  --icon-color: transparent;
  text-align: left;

  cursor: pointer;
  transition: background-color 0.3s ease;
}
.quote-credits:hover {
  background-color: #333;
  --quote-author-text: #fff;
  --icon-color: #fff;
}

.quote-credits__author {
  grid-area: author;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: var(--quote-author-text, #4f4f4f);
}

.quote-credits__genre {
  grid-area: genre;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: var(--quote-genre-text, #828282);
}

.quote-credits__arrow {
  grid-area: arrow;
}
