#root {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 24px;

  min-height: 100vh;
  min-height: 100dvh;
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 2rem;
}

.main-header {
  --button-bg: transparent;
  --button-bg-hover: #e0e0e0;

  display: flex;
  justify-content: flex-end;
  gap: 10px;

  padding-block: 1rem;

  font-family: 'Raleway', sans-serif;
}
.main-header .button {
  font-family: inherit;
  font-weight: 500;
}

.content {
  display: grid;
  align-items: center;
  grid-template-columns: minmax(280px, 800px);
  gap: 40px;
  margin: auto;
}

.quotes-author {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: clamp(20px, 3vw, 36px);
  font-weight: 700;
  padding-left: 2.45em;
}
