:root {
  font-family: "Raleway", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg: #fff;
  --text: #000;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Raleway Variable", sans-serif;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[data-theme="dark"] {
  --bg: #242424;
  --text: #fff;
}

body {
  margin: 0;
  min-width: 320px;

  background-color: var(--bg);

  color: var(--text);
}
