@use "@lib/sass-utils/font/sizes/static";
@use "@lib/sass-utils/font/mixins" as *;

:root {
  @include font-variable("Raleway", sans-serif);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg: #fff;
  --text: #000;
  --text-secondary: #828282;
  --text-light: #4f4f4f;
  --text-dark: #333;
  --bg-hover: #333;

  /* custom fluid font sizes */
  --fs-fluid-3-6: clamp(var(--fs-3), 3vw, var(--fs-6));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[data-theme="dark"] {
  --bg: #242424;
  --text: #fff;
  --text-secondary: #bdbdbd;
  --text-light: #fff;
}

body {
  margin: 0;
  min-width: 320px;

  background-color: var(--bg);

  color: var(--text);
}
