#root {
  position: relative;

  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 2rem;
}
@media (max-width: 768px) {
  #root {
    padding-inline: 1rem;
  }
}

main {
  font-size: 0.75rem;
}

.inputs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}
