---
import "@material-design-icons/font/filled.css";
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/500.css";
import "@fontsource/roboto/700.css";
import "@fontsource-variable/montserrat/index.css";
import "@fontsource/montserrat/index.css";
import "@fontsource/montserrat/500.css";
import "@fontsource/montserrat/700.css";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/700.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Github Jobs - Legacy DevChallenges</title>
    <script>
      import { loadTheme } from "@hrc/toggle-theme";

      loadTheme();
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global lang="scss">
  @use "@lib/sass-utils/font/sizes/static";
  @use "@lib/sass-utils/reset";

  :root {
    font-family: "Roboto", sans-serif;

    --primary: #1e86ff;
    --primary-hover: #0a67eb;
    --primary-disabled: #51a1ff;

    --text: #334680;
    --text-secondary: #b9bdcf;

    --box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 15%);
    --placeholder-color: var(--text-secondary);
  }

  [data-theme="dark"] {
    --bg-color: #161616;
    --text-color: #fff;
    --text: #b0c8ff;

    --checkbox-bg-hover: rgb(255 255 255 / 8%);
    --radio-bg-hover: rgb(255 255 255 / 8%);

    .theme-button {
      --icon-color: #87ceeb;
    }
  }

  body {
    --_padding: 2rem;
    --_max-width: 1200px;

    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 16px;

    width: min(var(--_max-width), 100% - calc(2 * var(--_padding)));
    background-color: var(--bg-color, #fff);
    padding-block: var(--_padding);

    color: var(--text-color, #000);

    @media (max-width: 767px) {
      --_padding: 1rem;
    }
  }

  h1,
  h2,
  h3,
  p {
    margin: 0;
  }

  .input__inner:placeholder-shown {
    text-overflow: ellipsis;
  }
</style>
