---
import ThemeProvider from "@/components/ThemeProvider.astro";
import "@material-design-icons/font/filled.css";
import "@fontsource/roboto/latin-400.css";
import "@fontsource/roboto/latin-500.css";
import "@fontsource/roboto/latin-700.css";
import "@fontsource-variable/montserrat";
import "@fontsource/montserrat";
import "@fontsource/montserrat/500.css";
import "@fontsource/montserrat/700.css";
import "@fontsource/poppins/latin-300.css";
import "@fontsource/poppins/latin-400.css";
import "@fontsource/poppins/latin-500.css";
import "@fontsource/poppins/latin-700.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Github Jobs - Legacy DevChallenges</title>
    <ThemeProvider />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global lang="scss">
  @use "@lib/sass-utils/font/sizes/static";

  :root {
    font-family: "Roboto", sans-serif;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --primary: #1e86ff;
    --primary-hover: #0a67eb;

    --text: #334680;
    --text-secondary: #b9bdcf;

    --box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 15%);
    --placeholder-color: var(--text-secondary);
  }

  * {
    box-sizing: border-box;
    margin: 0;
  }

  [data-theme="dark"] {
    --bg-color: #161616;
    --text-color: #fff;
    --text: #b0c8ff;

    --checkbox-bg-hover: rgb(255 255 255 / 8%);
    --radio-bg-hover: rgb(255 255 255 / 8%);

    .theme-button {
      --icon-color: #87ceeb;
    }
  }

  body {
    --_padding: 2rem;
    --_max-width: 1200px;

    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 16px;

    width: min(var(--_max-width), 100% - calc(2 * var(--_padding)));
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--bg-color, #fff);
    padding-block: var(--_padding);
    margin: 0 auto;

    color: var(--text-color, #000);

    @media (max-width: 767px) {
      --_padding: 1rem;
    }
  }

  .label.label,
  .button.button {
    font-family: inherit;
  }
  .input__inner::placeholder {
    opacity: 1;
  }
</style>
