.definitions-list {
  display: grid;
  gap: 0.5rem;

  padding: 0;

  list-style: none;
}
.definitions-list:not([data-active]) {
  display: none;
}
.definitions-list > li:not(:first-child) {
  border-top: 2px solid #9b9b9b;
  padding-top: 0.5rem;
}

.definition:not(.info .definition) {
  border-left: 3px solid var(--definition-border-color, var(--word-bg));
  padding-inline: 0.75rem;

  --spinner-size: 2.25rem;
}
.definition[data-new] {
  --definition-badge-text: var(--difficulty-void);
}
.definition[open] {
  --definition-label-text: var(--difficulty-void);
}
.definition[open],
.definition:hover {
  --definition-border-color: var(--secondary);
}
.definition:hover .definition__label::marker {
  color: var(--primary);
}
.definition[data-status="loading"] .definition__content {
  --error-display: none;
  --retry-display: none;
  display: flex;
  align-items: center;
  padding: 0.25rem 0;
}
.definition[data-status="error"] {
  --spinner-display: none;
}
.definition[data-status="success"] {
  --spinner-display: none;
  --error-display: none;
  --retry-display: none;
}
.definition__label {
  outline: none;

  font-weight: bold;
  font-size: var(--definition-label-font-size, 1.125rem);
  color: var(--definition-label-text);
  cursor: pointer;
}
.definition__difficulties {
  display: inline-flex;
  gap: 0.5ch;
  margin-left: 0.5em;
  padding: 0;
}
.definition__difficulty {
  display: grid;
  place-content: center;

  width: 2.15ch;
  height: 2.15ch;
  border: 1px solid;
  border-radius: 4px;
}
.definition__difficulty[aria-label="Easy"] {
  color: var(--difficulty-easy);
}
.definition__difficulty[aria-label="Normal"] {
  color: var(--difficulty-normal);
}
.definition__difficulty[aria-label="Hard"] {
  color: var(--difficulty-hard);
}
.definition__difficulty[aria-label="Master"] {
  color: var(--difficulty-master);
}
.definition__difficulty[aria-label="Extreme"] {
  color: var(--difficulty-extreme);
}
.definition__difficulty[aria-label="Insane"] {
  color: var(--difficulty-insane);
}
.definition__difficulty[aria-label="Why"] {
  color: var(--difficulty-why);
}
.definition__difficulty[aria-label="Void"] {
  color: var(--difficulty-void);
}
.definition__difficulty:not([data-completed]) {
  color: #9b9b9b;
}
.definition__content {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  padding-block: 0.25rem;

  font-size: var(--definition-content-font-size, 1rem);
}
.definition__error {
  display: var(--error-display);

  align-self: center;
  padding: 0.2em 0.5em;
  border-radius: 8px;
  background-color: rgba(255, 10, 10, 0.35);

  font-weight: bold;
  text-align: center;
}
.definition__retry {
  --button-display: var(--retry-display, flex);
  align-self: center;
  gap: 4px;

  --button-padding: 0.25em 0.75em;
  --button-bg: var(--secondary);
  margin-top: 0.5em;

  --button-font-weight: bold;

  --button-hover-scale: 1.125;

  --icon-size: 1.25em;
}
.definition__badge {
  margin-left: 0.5em;
  padding: 0.125em 0.5em;
  border: 1px solid;
  border-radius: 6px;

  font-size: 0.8125em;
  color: var(--definition-badge-text);
}
