.definitions-list {
  display: grid;
  gap: 4px;

  padding: 0;

  list-style: none;
}
.definitions-list hr {
  margin-block: 0.25rem;
  color: rgb(175, 175, 175);
}

.definition:not(.info .definition) {
  padding-left: 0.75rem;
  border-left: 3px solid var(--definition-border-color, var(--word-bg));
}
.definition[data-status="new"] {
  --definition-badge-text: var(--secondary);
}
.definition:hover,
.definition:focus-within {
  --definition-border-color: var(--primary);
  --definition-label-text: var(--secondary);
}
.definition__label {
  outline: none;

  font-weight: bold;
  color: var(--definition-label-text);
  cursor: pointer;
}
.definition__content {
  padding-left: 0.875rem;
}
.definition__content > p + p {
  margin-top: 0.5em;
}
.definition__badge {
  margin-left: 0.5em;
  padding: 0.125em 0.5em;
  border: 1px solid;
  border-radius: 6px;

  font-size: 0.8125em;
  color: var(--definition-badge-text);
}
