.definitions-list {
  display: grid;
  gap: 4px;

  padding: 0;

  list-style: none;
}
.definitions-list hr {
  color: rgb(175, 175, 175);
}

.definition[data-status="new"] {
  --definition-badge-text: var(--secondary);
}
.definition__label {
  font-weight: bold;
  cursor: pointer;
}
.definition__content {
  padding-left: 1rem;
}
.definition__badge {
  margin-left: 0.5em;
  padding: 0.125em 0.5em;
  border: 1px solid;
  border-radius: 6px;

  font-size: 0.8125em;
  color: var(--definition-badge-text);
}
