:root {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --text: #f2f5f9;
  --primary: #7429c6;
  --secondary: #c951e7;
  --letter-border: #97a3b6;
  --letter-border-current: #672171;
  --word-bg: #4a5567;
  --button-shadow: drop-shadow(0px 4px 0px #7b248a); /* filter: [value] */
  --text-shadow: 0px 4px 0px 0px #030616;

  --card-padding: 1.5rem;
  --card-gap: 1.5rem;
  --card-max-width: 370px;
  --card-bg: #171E30;
  --word-padding: 12px;
  --letters-gap: 10px;
  --letter-padding: 8px 14px;

  --buttons-top-margin: 3rem;
  --buttons-gap: 18px;

  /* font sizes */
  --word-fs: 2rem;
  --title-fs: 1.25rem;
  --legend-fs: 0.75rem;
  --button-fs: 0.875rem;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Outfit Variable", sans-serif;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;

  margin: 0;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  min-height: 100svh;

  background-color: #fff;
  padding: 2rem;

  color: var(--text);
}
@media (max-width: 767px) {
  body {
    padding: 1rem;
  }
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}
