:root {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* colors */
  --text: #f2f5f9;
  --primary: #7429c6;
  --secondary: #c951e7;
  --letter-border: #4a5567;
  --letter-border-current: #672171;
  --word-bg: #4a5567;
  --word-shadow: 0px 4px 0px 0px #030616;
  --button-shadow: drop-shadow(0px 4px 0px #7b248a); /* filter: [value] */

  --card-padding: 1.5rem;
  --card-gap: 1.5rem;
  --card-max-width: 370px;
  --card-bg: #171E30;
  --word-padding: 12px;
  --letters-gap: 10px;
  --letters-margin-block: 2.5rem;
  --letter-padding: 8px 14px;

  --buttons-top-margin: 3rem;
  --buttons-gap: 18px;

  /* font sizes */
  --word-fs: 2rem;
  --letter-fs: 1.25rem;
  --info-fs: 0.875rem;
  --button-fs: 0.875rem;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Outfit Variable", sans-serif;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;

  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  min-height: 100svh;

  background: url("/bg-guess-the-word.jpg") no-repeat,
    linear-gradient(to right, var(--primary), var(--secondary));
  background-size: cover;
  background-position: center;
  padding: 2rem;

  color: var(--text);
}
@media (max-width: 767px) {
  body {
    padding: 1rem;
  }
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

.game-card {
  display: flex;
  flex-direction: column;
  gap: var(--card-gap);

  margin: auto;
  width: min(var(--card-max-width), 100%);
  background-color: var(--card-bg);
  padding: var(--card-padding);
  border-radius: 12px;
}

.game-card header {
  margin-inline: auto;
}

.game-card .word {
  background-color: var(--word-bg);
  padding: var(--word-padding);
  border-radius: 8px;
  border: none;
  box-shadow: var(--word-shadow);

  color: inherit;
  font-size: var(--word-fs);
  text-align: center;
  letter-spacing: 1ch;
  pointer-events: none;
}

.game-card .info {
  display: flex;
  justify-content: space-between;

  font-size: var(--info-fs);
  font-weight: 600;
}

.game-card .info .tries {
  display: flex;
  gap: 1em;
}
.game-card .info .tries__indicator {
  --step-color: var(--word-bg);
  --step-color-completed: var(--primary);
}

.stepper {
  display: flex;
  gap: var(--stepper-gap, 0.5em);
  align-items: center;
}
.stepper__step {
  aspect-ratio: 1;
  width: var(--step-size, 0.5em);
  border-radius: 50%;
  background-color: var(--step-color);
}
.stepper__step[data-completed] {
  background-color: var(--step-color-completed);
}

.game-card .typing {
  display: flex;
  gap: var(--letters-gap);
  justify-content: center;
  flex-wrap: wrap;

  font-size: var(--letter-fs);
}
.game-card .typing .typing__letter {
  display: grid;
  place-items: center;

  width: 4ch;
  height: 4ch;
  border: 2px solid var(--letter-border);
  border-radius: 10px;
  margin-block: var(--letters-margin-block);

  text-align: center;
  color: inherit;
}
.game-card .typing .typing__letter--current {
  border-color: var(--letter-border-current);
}
