#hints-menu-content {
  max-height: 240px;
  overflow-y: auto;
}

.hints-list {
  display: grid;
  gap: 1ch;

  padding: 0;

  font-size: 1.25rem;

  list-style: none;

  counter-reset: hints-counter;
}

.hint-group {
  display: grid;
  grid-template-columns: 1ch auto;

  counter-increment: hints-counter;
}
.hint-group--no-counter {
  grid-template-columns: 1fr;
}
.hint-group__content {
  display: flex;
  gap: 0.75ch;
  flex-wrap: wrap;
  justify-content: center;
}
#all-hints-tab-content .hint-group::before {
  content: counter(hints-counter);
  width: 1ch;
  color: var(--secondary);
  text-align: center;
}
#correct-hints-tab-content .hint-group {
  justify-content: center;
}

.hint {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.5ch;
  height: 2.5ch;
  border: 2px solid;
  border-radius: 6px;

  text-align: center;
  color: var(--word-bg);
}
.hint--correct {
  color: var(--difficulty-easy);
}
.hint--wrong {
  color: var(--difficulty-extreme);
}
