#hints-tab-content {
  max-height: 240px;
  overflow-y: auto;
}

.hints-list {
  display: grid;
  gap: 1ch;

  padding: 0;

  font-size: var(--hints-list-font-size, 1.25rem);

  list-style: none;

  counter-reset: hints-counter;
}

.hint-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.75ch;
}
.hint-group:not(:first-child) {
  border-top: 2px solid var(--primary);
  padding-top: 0.75ch;
}

.hint {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.5ch;
  height: 2.5ch;
  border: 2px solid;
  border-radius: 6px;

  text-align: center;
  border-color: var(--word-bg);
}
.hint--correct {
  border-color: var(--difficulty-easy);
}
.hint--wrong {
  border-color: var(--difficulty-extreme);
}
