.menu {
  --menu-max-width: 370px;
  --menu-max-height: 350px;
  position: fixed;
  inset: 0;
  flex-direction: column;
  gap: 1rem;

  width: min(var(--menu-max-width), 100%);
  height: min(var(--menu-max-height), 100%);
  margin: auto;
  padding: 1rem;
  background-color: #0f131f;
  border-color: #000;
  border-radius: 12px;

  color: #d7e0ed;
}
.menu[open] {
  display: grid;
  grid-template-columns: min(var(--menu-max-width), 100%);
  grid-template-rows: auto 1fr;
}
.menu__header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* TODO: create a `.button` component */
/* merge these styles with `.actions__control` component */
.menu-trigger {
  display: grid;
  place-items: center;

  background-color: var(--menu-trigger-bg);
  border: none;
  border-radius: 6px;
  margin-left: auto;
  padding: var(--menu-trigger-padding, 0.075em 0.15em);

  transition: transform 0.2s ease;

  --icon-size: var(--menu-trigger-size, 1rem);
}
/* TODO: use same hover/focus rules as <Button /> from @hrc/button */
.menu-trigger:hover,
.menu-trigger:focus {
  transform: scale(var(--menu-trigger-scale, 1.125));
}
