.menu {
  --menu-max-width: 370px;
  --menu-max-height: 350px;

  width: min(var(--menu-max-width), 100%);
  height: min(var(--menu-max-height), 100%);
  margin: auto;
  padding: 1rem;
  background-color: var(--slate-900);
  border-color: var(--slate-950);
  border-radius: 12px;

  color: var(--blue-100);
}
.menu[open] {
  display: grid;
  grid-template-columns: min(var(--menu-max-width), 100%);
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

.menu__header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.menu__header #menu-close.button {
  --button-radius: 6px;
  --button-bg: var(--secondary);
  --button-padding: 0.075em;
  --button-hover-scale: 1.125;
  color: var(--text);

  --icon-size: 1.75rem;
}
.menu__header nav {
  flex-grow: 1;
  overflow-x: scroll;
}

.menu .tab-content {
  overflow-y: auto;
}
