/* TODO: add to @lib/alert class `.alert--top` */
/* it should be positioned at the top of the screen */
.alert {
  left: 0;
  right: 0;

  margin-inline: auto;
  width: fit-content;

  font-size: var(--letter-fs);

  transform: translateY(-100%) translateY(-1rem);
}
.alert--open {
  transform: translateY(0);
}

.menu .menu-trigger {
  --menu-trigger-bg: var(--primary);
  --menu-trigger-size: 1.75rem;
  --menu-trigger-padding: 0.075em;
  color: var(--text);
}
.menu .tab-content {
  overflow-y: auto;
}
.menu__header nav {
  flex-grow: 1;
  overflow-x: scroll;
}

/* TODO: move to app-menu/definitions.css */
#definitions-menu-tab-content {
  grid-template-rows: auto 1fr auto;
}

/* TODO: move to app-menu/difficulty.css */
#difficulty-menu-tab-content {
  --_disabled-color: rgb(175, 175, 175);
  --radio-group-gap: 0.25rem;
  --label-text: var(--text);
  --label-text-disabled: var(--_disabled-color);
  --label-font-size: 1.125rem;
  --radio-color-disabled: var(--_disabled-color);
}
#difficulty-menu-tab-content .difficulty-name {
  font-weight: bold;
  color: var(--difficulty-text);
}
#difficulty-menu-tab-content .label {
  width: fit-content;
}
#difficulty-menu-tab-content .radio {
  --radio-size: 1.25rem;
}
#difficulty-menu-tab-content .label[data-difficulty="easy"] {
  /* from "tetradic" colors https://www.colorhexa.com/c23be4#schemes */
  --radio-color: var(--difficulty-easy);
  --difficulty-text: var(--difficulty-easy);
}
#difficulty-menu-tab-content .label[data-difficulty="normal"] {
  /* from "split complementary" colors https://www.colorhexa.com/e4c23b#schemes */
  --radio-color: var(--difficulty-normal);
  --difficulty-text: var(--difficulty-normal);
}
#difficulty-menu-tab-content .label[data-difficulty="hard"] {
  /* from "tetradic" colors https://www.colorhexa.com/c23be4#schemes */
  --radio-color: var(--difficulty-hard);
  --difficulty-text: var(--difficulty-hard);
}
#difficulty-menu-tab-content .label[data-difficulty="master"] {
  /* from "analogous" colors https://www.colorhexa.com/e4c23b#schemes */
  --radio-color: var(--difficulty-master);
  --difficulty-text: var(--difficulty-master);
}
#difficulty-menu-tab-content .label[data-difficulty="extreme"] {
  /* from "monochromatic" colors https://www.colorhexa.com/e43b5d#schemes */
  --radio-color: var(--difficulty-extreme);
  --difficulty-text: var(--difficulty-extreme);
}
#difficulty-menu-tab-content .label[data-difficulty="insane"] {
  /* from "analogous" colors https://www.colorhexa.com/c23be4#schemes */
  --radio-color: var(--difficulty-insane);
  --difficulty-text: var(--difficulty-insane);
}
#difficulty-menu-tab-content .label[data-difficulty="why"] {
  --radio-color: var(--difficulty-why);
  --difficulty-text: var(--difficulty-why);
}
#difficulty-menu-tab-content .label[data-difficulty="void"] {
  --radio-color: var(--difficulty-void);
  --difficulty-text: var(--difficulty-void);
}
#difficulty-menu-tab-content .label[data-disabled] {
  --difficulty-text: var(--_disabled-color);
}
