.pagination {
  --_hover: var(--slate-950);

  /* TODO: use `.flex.justify-center` utility classes */
  display: flex;
  justify-content: center;
  gap: 12px;

  padding-bottom: 0.125rem;

  font-size: var(--pagination-item-size, 1.125rem);
}

.pagination__trigger {
  display: grid;
  place-items: center;

  height: 100%;
  aspect-ratio: 1;
  outline: 2px solid transparent;
  border-radius: 8px;
  border: 2px solid var(--secondary);
  background-color: transparent;

  color: var(--primary);
  --icon-size: 1.25em;
}
.pagination__trigger:hover,
.pagination__trigger:focus {
  background-color: var(--_hover);
}
.pagination__trigger:focus {
  outline-color: var(--secondary-transparent);
}
.pagination__trigger[disabled] {
  border-color: var(--slate-600);
  color: var(--slate-600);
}

.pagination__current {
  height: 100%;
  width: 2em;
  margin-right: 6px;
  outline: none;
  border-radius: 8px;
  border: 2px solid var(--secondary);
  background: transparent;

  color: var(--text);
}
.pagination__current:hover {
  background-color: var(--_hover);
}
.pagination__current:focus {
  background-color: var(--secondary);
}
.pagination__total {
  margin-left: 6px;
}
