.pagination {
  --_hover: var(--black);

  display: flex;
  justify-content: center;
  gap: 12px;

  padding: 0;
  padding-bottom: 0.125rem;

  font-size: 1.125rem;

  list-style: none;
}

.pagination__item[aria-current] {
  font-weight: bold;
}

.pagination__trigger {
  display: grid;
  place-items: center;

  height: 100%;
  aspect-ratio: 1;
  outline: 2px solid transparent;
  border-radius: 8px;
  border: 2px solid var(--primary);
  background-color: transparent;

  color: var(--secondary);
  --icon-size: 1.25em;
}
.pagination__trigger:hover,
.pagination__trigger:focus {
  background-color: var(--_hover);
}
.pagination__trigger:focus {
  outline-color: var(--primary-transparent);
}
.pagination__trigger[disabled] {
  border-color: var(--word-bg);
  color: var(--word-bg);
}

.pagination__current {
  height: 100%;
  width: 2em;
  margin-right: 6px;
  outline: none;
  border-radius: 8px;
  border: 2px solid var(--primary);
  background: transparent;

  color: var(--text);
  text-align: center;
}
.pagination__current:hover {
  background-color: var(--_hover);
}
.pagination__current:focus {
  background-color: var(--primary);
}
.pagination__total {
  margin-left: 6px;
}
