.step-indicator {
  display: flex;
  gap: var(--stepper-gap, 0.5em);
  align-items: center;
}
.step-indicator__step {
  aspect-ratio: 1;
  width: var(--step-size, 0.5em);
  border-radius: 50%;
  background-color: var(--step-color);
}
.step-indicator__step[data-completed] {
  background-color: var(--step-color-completed);
}
