.tab-nav {
  --_bottom-border: rgb(100, 100, 100);
  --_right-border: rgb(175, 175, 175);
  position: relative;
  display: flex;

  padding: 0;
}
.tab-nav::before {
  content: "";
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 3px;
  background-color: var(--tab-nav-bottom-border, var(--_bottom-border));
}
.tab-nav::after {
  content: "";
  position: absolute;
  right: 0;

  width: 4px;
  height: 100%;
  background-color: var(--tab-nav-right-border, var(--_right-border));
}
.tab-nav__link {
  position: relative;

  background-color: transparent;
  border: none;
  outline: none;
  padding: 0.5em 1em;

  font-weight: var(--tab-link-font-weight);
}
.tab-nav__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 3px;
  background-color: var(--tab-item-highlight);

  transition: background-color 0.2s ease;
}
.tab-nav__link[data-tab-active] {
  --tab-item-highlight: var(--primary);
  --tab-link-font-weight: bold;
}
.tab-nav__link:not([data-tab-active]):hover {
  --tab-item-highlight: var(--_right-border);
}

.tab-content {
  display: flex;
}
.tab-content__item {
  width: 100%;
  flex-shrink: 0;
}
.tab-content__item:not([data-content-active]) {
  display: none;
}
