.tab-nav {
  position: relative;
  display: flex;

  padding: 0;

  list-style: none;
}
.tab-nav::before {
  content: "";
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 3px;
  background-color: rgb(100, 100, 100);
}
.tab-nav::after {
  content: "";
  position: absolute;
  right: 0;

  width: 4px;
  height: 100%;
  background-color: rgb(175, 175, 175);
}
.tab-nav__item {
  position: relative;
}
.tab-nav__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 3px;
  background-color: var(--tab-item-highlight);

  transition: background-color 0.2s ease;
}
.tab-nav__item[data-tab-active] {
  --tab-item-highlight: var(--primary);
  --tab-link-font-weight: bold;
}
.tab-nav__item:not([data-tab-active]):hover {
  --tab-item-highlight: rgb(175, 175, 175);
}
.tab-nav__link {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: var(--tab-link-font-weight);
  padding: 0.5em 1em;
}

.tab-content {
  display: flex;
}
.tab-content__item {
  width: 100%;
  flex-shrink: 0;
}
.tab-content__item:not([data-content-active]) {
  display: none;
}
