.tab-nav {
  --_bottom-border: rgb(100, 100, 100);
  --_disabled-color: rgb(175, 175, 175);
  position: relative;
  display: flex;

  padding: 0;
}
.tab-nav__link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5em;

  background-color: transparent;
  border: none;
  border-bottom: 3px solid var(--tab-item-highlight, var(--_bottom-border));
  border-radius: 12px 12px 0 0;
  outline: none;
  padding: 0.5em 1em;

  font-size: 1.125rem;
  font-weight: var(--tab-link-font-weight);

  transition:
    background-color 0.3s ease,
    border-color 0.2s ease;

  --icon-size: 1.25em;
}
.tab-nav__link[aria-selected="true"] {
  --tab-item-highlight: var(--primary);
  --tab-link-font-weight: bold;
  background-color: rgba(100, 100, 100, 0.15);
}
.tab-nav__link[aria-selected="false"] {
  color: var(--_disabled-color);
}
.tab-nav__link[aria-selected="false"]:hover,
.tab-nav__link[aria-selected="false"]:focus {
  --tab-item-highlight: var(--_disabled-color);
}

.tab-content {
  display: flex;
}
.tab-content__item {
  display: grid;
  gap: 1rem;
  width: 100%;
}
.tab-content__item:not([data-active]) {
  display: none;
}
