.text-difficulty-easy {
  --difficulty-text: var(--difficulty-easy);
  color: var(--difficulty-text);
}
.text-difficulty-normal {
  --difficulty-text: var(--difficulty-normal);
  color: var(--difficulty-text);
}
.text-difficulty-hard {
  --difficulty-text: var(--difficulty-hard);
  color: var(--difficulty-text);
}
.text-difficulty-master {
  --difficulty-text: var(--difficulty-master);
  color: var(--difficulty-text);
}
.text-difficulty-extreme {
  --difficulty-text: var(--difficulty-extreme);
  color: var(--difficulty-text);
}
.text-difficulty-insane {
  --difficulty-text: var(--difficulty-insane);
  color: var(--difficulty-text);
}
.text-difficulty-why {
  --difficulty-text: var(--difficulty-why);
  color: var(--difficulty-text);
}
.text-difficulty-void {
  --difficulty-text: var(--difficulty-void);
  color: var(--difficulty-text);
}

.text-center {
  text-align: center;
}

.not-yet {
  color: var(--primary);
  font-size: 1.25rem;
}

.plus-sign {
  color: var(--primary);
  font-size: 1.25em;
  line-height: 1;
  align-self: center;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.push-right {
  margin-left: auto;
}
.push-left {
  margin-right: auto;
}

.font-semibold {
  font-weight: 600;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.col-span-full {
  grid-column: 1 / -1;
}
