:root {
  /* COLORS */
  --rose-600: #cf1d41;

  /* calculated with https://rgbacolorpicker.com/rgba-to-hex */
  --red-600-35: #ff0a0a59;

  --blue-100: #d7e0ed;

  --purple-700: #7b248a;
  --purple-800: #672171;

  --slate-600: #4a5567;
  --slate-800: #171e30;
  --slate-900: #0f131f;
  --slate-950: #030616;

  --gray-400: #afafaf;
  --gray-400-15: #afafaf26;
  --gray-500: #9b9b9b;
  --gray-700: #646464;
  /* calculated with https://rgbacolorpicker.com/rgba-to-hex */
  --gray-700-15: #64646426;
  --gray-800: #333;

  /* TOKENS */
  --text: #f2f5f9;

  --secondary: #7429c6;
  --secondary-transparent: #7429c68f;

  --primary: #c951e7;

  --difficulty-easy: #70e751;
  /* "split complementary color" https://www.colorhexa.com/e4c23b#schemes */
  --difficulty-normal: #3bb2e4;
  /* "tetradic color" https://www.colorhexa.com/c23be4#schemes */
  --difficulty-hard: #e4c23b;
  /* "analogous color" https://www.colorhexa.com/e4c23b#schemes */
  --difficulty-master: #e46e3b;
  /* "tetradic color" https://www.colorhexa.com/e43b5d#schemes */
  --difficulty-extreme: #3be4c2;
  /* "split complemenetary color" https://www.colorhexa.com/c23be4#schemes */
  --difficulty-insane: #b2e43b;
  /* https://www.color-hex.com/color-palette/1055851 */
  --difficulty-why: #9b78ff;
  --difficulty-void: #dd79f0;

  /* LIBS CUSTOMIZATION */
  --alert-time-bar-duration: 4s;

  --timer-bg: var(--slate-600);
  --timer-bar-bg: var(--primary);
}
