.word-list {
  display: grid;
  gap: 0.5rem;

  padding: 0;

  list-style: none;
}

.word-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.word-list__word {
  font-size: 1.25rem;
  font-weight: 500;
}

.word-list__actions {
  display: flex;
  gap: 0.5rem;

  padding: 0;

  list-style: none;
}

.word-list__action {
  display: flex;

  padding: 0.25em;
  border: none;
  border-radius: 8px;
  background-color: var(--_bg);

  --icon-size: 1.5em;
}
.word-list__action[data-edit] {
  /* from tetradic colors https://www.colorhexa.com/c23be4 */
  --_bg: #3b5de4;
}
.word-list__action[data-delete] {
  /* from https://colormagic.app/palette/671ee45142273fc4c1bb197a */
  --_bg: #9c1c31;
}
