.actions {
  display: flex;
  justify-content: center;

  margin-top: 16px;
  padding: 0;

  list-style: none;
}

.actions__btn {
  display: flex;
  align-items: center;

  padding: 8px 12px;
  background: transparent;
  border: 2px solid var(--button-border);
  border-radius: 10px;

  color: var(--button-text);

  cursor: pointer;
}
.actions__btn:hover {
  background: var(--button-border);
}
.actions__btn#random-quote {
  border-right-width: 1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.actions__btn#copy-quote {
  border-left-width: 1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
