:root {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* font sizes */
  --author-fs: 1rem;
  --quote-fs: 1.5rem;
  --tag-fs: 0.625rem;

  /* colors */
  --card-bg: #20293a;
  --tag-text: #6466e9;
  --button-text: #4a5567;
  --button-border: #20293a;
  --quote-text: #97a3b6;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Outfit Variable", sans-serif;
  }
}

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  min-height: 100svh;

  background-color: #111729;
  padding: 2rem;

  color: #e5e7eb;
}
@media (max-width: 767px) {
  body {
    padding: 3.125rem;
  }
}

