.quote {
  display: flex;
  flex-direction: column;
  gap: 12px;

  background-color: var(--card-bg);
  background-image: url("/bg-image-random-quote.svg");
  background-size: cover;
  background-position-x: right;
  border-radius: 10px;
  padding: var(--quote-padding, 2rem);

  text-align: center;
}
.quote[data-status="LOADING"] {
  --quote-content-display: none;
}
.quote[data-status="LOADED"] {
  --spinner-display: none;
}
.quote[data-status="ERROR"] {
  --quote-error-display: block;
  --quote-content-display: none;
  --spinner-display: none;
}

.error {
  display: var(--quote-error-display, none);

  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 8px;
  padding: 0.2em 0.5em;

  color: #f4c7c7;
  font-size: var(--quote-fs);
}
.quote__error {
  margin-bottom: 0.5rem;
}
.error #copy-error {
  display: flex;
  align-items: center;
  gap: 0.5em;

  border: none;
  border-radius: inherit;
  background-color: rgba(255, 0, 0, 0.35);
  padding: 0.25em 0.75em;
  margin-inline: auto;
  margin-bottom: 0.5rem;

  color: inherit;
  font-size: 1.125rem;

  cursor: pointer;
}
.error #copy-error:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.quote__loader {
  margin: 0 auto;
}

.quote__content {
  display: var(--quote-content-display, flex);
  flex-direction: column;
  gap: inherit;
}

.quote__author {
  font-size: var(--author-fs);
}

.quote__tags {
  display: flex;
  justify-content: center;
  gap: 8px;

  padding: 0;

  font-size: var(--tag-fs);

  list-style: none;
}
.quote__tag {
  padding: 4px 12px;
  border-radius: 9999px;
  color: var(--tag-text);
  outline: 1px solid;
}

.quote__text {
  font-size: var(--quote-fs);
  color: var(--quote-text);
}
.quote__text::before {
  content: "“";
}
.quote__text::after {
  content: "”";
}

.api-attribution {
  display: flex;
  justify-content: center;
}
.api-attribution img {
  filter: invert(70%);
}
