<section class="hints__content | flex flex-col">
  <!-- prettier-ignore -->
  <% const hintsTabs = [
       { name: "all", icon: "FilterOff", selected: true },
       // { name: "all", icon: "SelectAll", selected: true },
       { name: "correct", icon: "TextGrammar" },
     ] %>
  <header class="menu__header">
    <nav>
      <div id="hints-tab-nav" class="tab-nav | justify-center" role="tablist">
        <!-- prettier-ignore -->
        <% for (const tab of hintsTabs) { %>
        <%- include("tabs/Tab", { ...tab, group: "hints" }) %>
        <% } %>
      </div>
    </nav>
  </header>
  <div id="hints-tab-content" class="tab-content">
    <!-- prettier-ignore -->
    <% for (const tab of hintsTabs) { %>
    <%- include("tabs/TabContentItem", { ...tab, group: "hints" }) %>
    <ul class="hints-list"></ul>
    <%- include("tabs/TabContentItem", { close: true }) %>
    <% } %>
  </div>
</section>
