#root {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
  min-height: 100dvh;
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 2rem;
}
@media (max-width: 768px) {
  #root {
    padding-inline: 1rem;
  }
}

h1 {
  line-height: 42.26px;

  font-family: "Railway", sans-serif;
  font-size: 36px;
  text-align: center;
}
