#root {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
  min-height: 100dvh;
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 2rem;
}
@media (max-width: 768px) {
  #root {
    padding-inline: 1rem;
  }
}

h1 {
  line-height: 42.26px;

  font-family: "Railway", sans-serif;
  font-size: 36px;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "form form"
    "list .";
  gap: 32px;

  margin-bottom: auto;
  font-size: 18px;

  &[data-filter="completed"] {
    --form-display: none;
    --delete-all-display: inline-flex;
    grid-template-areas:
      "list list"
      ". delete-all";
    grid-template-columns: 1fr auto;
  }
}
