#root {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;

  min-height: 100vh;
  min-height: 100dvh;
  max-width: 720px;
  margin: 0 auto;
  padding-inline: 2rem;
}
@media (max-width: 768px) {
  #root {
    padding-inline: 1rem;
  }
}

h1 {
  line-height: 42.26px;

  font-family: "Raleway", sans-serif;
  font-size: 36px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 18px;

  &[data-filter="completed"] {
    --form-display: none;
    --delete-all-display: inline-flex;
  }
}
