@use "@lib/sass-utils/font-sizes/static";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg: #fff;
  --text: #333;
  --text-secondary: #828282;
  --text-dark: #000;
  --text-light: #bdbdbd;

  --primary: #2f80ed;
  --primary-hover: #1366d6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

[data-theme="light"] {
  --error: #eb5757;
  --error-hover: #db1a1a;
}

[data-theme="dark"] {
  --bg: #222;
  --text: #ccc;
  --text-dark: #fff;
  --text-light: #888;
}

body {
  margin: 0;
  min-width: 320px;

  background-color: var(--bg);

  color: var(--text);
}
