#root {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 16px;

  min-height: 100vh;
  min-height: 100svh;
  padding-inline: 2rem;
}
@media (max-width: 768px) {
  #root {
    padding-inline: 1rem;
  }
}
