@use "@lib/sass-utils/mixins" as utils;
@use "@lib/sass-utils/font/sizes/static";
@use "@lib/sass-utils/reset/font";
@use "@lib/sass-utils/reset/box-model";
@use "@lib/sass-utils/reset/body";

:root {
  @include utils.font-variable("Montserrat", sans-serif);

  --bg: #fff;
  --text: #333;
  --text-secondary: #828282;
  --text-dark: #000;
  --text-light: #bdbdbd;

  --primary: #2f80ed;
  --primary-hover: #1366d6;

  --icon-size: var(--fs-4);
}

[data-theme="light"] {
  --error: #eb5757;
  --error-hover: #db1a1a;
}

[data-theme="dark"] {
  --bg: #222;
  --text: #ccc;
  --text-dark: #fff;
  --text-light: #888;
}

body {
  max-width: 720px;
  background-color: var(--bg);
  color: var(--text);
}
