<form id="difficulty-form">
  <div class="radio-group">
    <!-- prettier-ignore -->
    <% for (const difficulty of DIFFICULTIES) { %>
    <%- include('./DifficultyOption', {
          difficulty,
          ...DIFFICULTY_OPTION[difficulty],
        }) %>
    <% } %>
  </div>
</form>
