<!-- TODO: move progress template to Progress.ejs -->
<div class="progress" data-stats="total">
  <div class="progress__track"></div>
  <p class="progress__description">
    <span class="progress__title">Total:</span>
    <span class="progress__count">
    <!-- TODO: set Spinner as default content of .progress__current -->
      <span class="progress__current">0</span>
      /
      <!-- TODO: set total by using same logic as in main.js -->
      <span class="progress__total">0</span>
    </span>
  </p>
</div>
<div class="progress" data-stats="easy">
  <div class="progress__track"></div>
  <p class="progress__description">
    <span class="progress__title">Easy:</span>
    <span class="progress__count">
      <span class="progress__current">0</span>
      /
      <span class="progress__total">0</span>
    </span>
  </p>
</div>
<div class="progress" data-stats="normal">
  <div class="progress__track"></div>
  <p class="progress__description">
    <span class="progress__title">Normal:</span>
    <span class="progress__count">
      <span class="progress__current">0</span>
      /
      <span class="progress__total">0</span>
    </span>
  </p>
</div>
<div class="progress" data-stats="hard">
  <div class="progress__track"></div>
  <p class="progress__description">
    <span class="progress__title">Hard:</span>
    <span class="progress__count">
      <span class="progress__current">0</span>
      /
      <span class="progress__total">0</span>
    </span>
  </p>
</div>
<div class="progress" data-stats="master">
  <div class="progress__track"></div>
  <p class="progress__description">
    <span class="progress__title">Master:</span>
    <span class="progress__count">
      <span class="progress__current">0</span>
      /
      <span class="progress__total">0</span>
    </span>
  </p>
</div>
<div class="progress" data-stats="extreme">
  <div class="progress__track"></div>
  <p class="progress__description">
    <span class="progress__title">Extreme:</span>
    <span class="progress__count">
      <span class="progress__current">0</span>
      /
      <span class="progress__total">0</span>
    </span>
  </p>
</div>
<div class="progress" data-stats="insane">
  <div class="progress__track"></div>
  <p class="progress__description">
    <span class="progress__title">Insane:</span>
    <span class="progress__count">
      <span class="progress__current">0</span>
      /
      <span class="progress__total">0</span>
    </span>
  </p>
</div>
<div class="progress" data-stats="why">
  <div class="progress__track"></div>
  <p class="progress__description">
    <span class="progress__title">Why?:</span>
    <span class="progress__count">
      <span class="progress__current">0</span>
      /
      <span class="progress__total">0</span>
    </span>
  </p>
</div>
<div class="progress" data-stats="void">
  <div class="progress__track"></div>
  <p class="progress__description">
    <span class="progress__title">Void:</span>
    <span class="progress__count">
      <span class="progress__current">0</span>
      /
      <span class="progress__total">0</span>
    </span>
  </p>
</div>
