.App {
  position: relative;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "aside main"
    "aside footer";
  row-gap: 36px;

  min-height: 100vh;
  min-height: 100dvh;
}

.App > main {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 72px;
  grid-area: main;

  padding: 150px 150px 0;

  .temperature-unit {
    position: absolute;
    top: 42px;
    right: 150px;
  }
}

.App > footer {
  grid-area: footer;
}
