.App {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2.1fr;
  grid-template-rows: 1fr;

  min-height: 100vh;
  min-height: 100dvh;
  max-height: 100vh;
  font-family: "Raleway", sans-serif;

  @media (max-width: 767px) {
    max-height: unset;
    --main-padding: 72px 24px;
    --converter-right-offset: 24px;
    --converter-top-offset: 18px;
    --weather-padding: 12px;
  }
  @media (max-width: 1440px) {
    grid-template-columns: 1fr;
    --forecast-grid-columns: 1fr 1fr;
    --highlights-grid-columns: 1fr;
  }
  @media (min-width: 1440px) {
    --main-padding: 120px;
    --converter-right-offset: 120px;
  }
}

.App > main {
  position: relative;
  display: grid;
  gap: 72px;

  padding: var(--main-padding, 150px);
  padding-bottom: 0;
  overflow: hidden auto;
}
