#root {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 16px;

  max-width: 1200px;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 2rem 7.5rem;
  margin-inline: auto;
}
@media (max-width: 767px) {
  #root {
    padding-inline: 1rem;
  }
}

[data-theme="dark"] .theme-button {
  --icon-color: #87ceeb;
}

* {
  margin: 0;
}

.label,
.button {
  font-family: inherit;
}
.input__inner::placeholder {
  opacity: 1;
}

.home {
  display: grid;
  grid-template-areas:
    "search-form    search-form"
    "search-options main";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 2fr;
  gap: inherit;
}
@media (max-width: 767px) {
  .home {
    grid-template-areas:
      "search-form"
      "search-options"
      "main";
    grid-template-rows: unset;
    grid-template-columns: unset;
  }
}

.job-page {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 32px;
}
@media (max-width: 767px) {
  .job-page {
    grid-template-columns: unset;
  }
}
.job-page__aside {
  display: flex;
  flex-direction: column;
  gap: 36px;

  font-size: 0.875rem;
}
.back-to-search {
  display: flex;
  align-items: center;
  gap: 12px;

  width: fit-content;
  color: var(--primary);
  text-decoration: none;
  --icon-size: 1.5em;
}
.job-page__apply h3 {
  text-transform: uppercase;
  color: var(--text-secondary);
  margin-bottom: 16px;
}
.job-page__apply p {
  color: var(--text);
}
.company-website {
  color: var(--primary);
  text-decoration: none;
}
