/* TODO:  */
/* - Home and Jobs pages should handle its own layout */
#root {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 16px;

  max-width: 1200px;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 2rem 7.5rem;
  margin-inline: auto;
}

[data-theme="dark"] .theme-button {
  --icon-color: #87ceeb;
}

footer {
  margin: 0;
}

.label,
.button {
  font-family: inherit;
}
.input__inner::placeholder {
  opacity: 1;
}

.home {
  display: grid;
  grid-template-areas:
    "search-form    search-form"
    "search-options main";
  gap: inherit;
}
