---
import Layout from "../layouts/Layout.astro";
import "@/styles/index.css";
---

<Layout>
  <div class="home">
    <div class="search-form">search form</div>
    <div class="search-options">search options</div>
    <main>results</main>
  </div>
</Layout>

<style>
.search-form {
  grid-area: search-form;
}

.search-options {
  grid-area: search-options;
}
</style>
