:root {
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* fonts */
  --text-fs: 1rem;

  /* colors */
  --primary: #3662e3;
  --primary-hover: #1c48ca;
  --primary-transparent: #4e80ee33;
  --form-bg: #030617;
  --input-placeholder: #364153;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Outfit Variable", sans-serif;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  min-height: 100svh;

  background-image: url("/bg-illustration.svg");
  background-repeat: no-repeat;
  background-position-x: right 5vw;
  background-position-y: center;
  background-color: #111729;
  padding: 2rem;

  color: #f2f5f9;
  font-size: var(--text-fs);
}
@media (max-width: 767px) {
  body {
    padding: 1rem;
  }
}

h1 {
  font-size: 2rem;
  line-height: 1.1;
}

button {
  color: inherit;
  cursor: pointer;
}

button,
input {
  font: inherit;
}
