.quiz-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  margin: 0 auto;

  color: #2f527b;
  --loader-color: currentColor;
  --loader-speed: 1s;
  // TODO: Simplify use of font-family
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: var(--question-font-size, 24px);

  p {
    margin: 0;
  }
}

// Taken and adapted from https://loading.io/css/
.loader-ring {
  display: inline-block;
  position: relative;
  width: var(--loader-size, 80px);
  aspect-ratio: 1;

  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: calc(var(--loader-size, 80px) * 0.8);
    aspect-ratio: 1;
    margin: 8px;
    margin: calc(var(--loader-size, 80px) * 0.1);
    border: calc(var(--loader-size, 80px) * 0.1) solid;
    border-radius: 50%;
    animation: loader-ring var(--loader-speed, 1.2s)
      cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--loader-color, #000) transparent transparent transparent;

    &:nth-child(1) {
      animation-delay: calc(-0.125 * 3 * var(--loader-speed, 1.2s));
    }
    &:nth-child(2) {
      animation-delay: calc(-0.125 * 2 * var(--loader-speed, 1.2s));
    }
    &:nth-child(3) {
      animation-delay: calc(-0.125 * 1 * var(--loader-speed, 1.2s));
    }
  }
}

@keyframes loader-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
