.quiz-loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  margin: 0 auto;

  color: var(--primary-dark);
  font-weight: 700;
  font-size: var(--font-size-fluid-2);

  --spinner-size: 60px;
  --spinner-animation-duration: 1s;

  p {
    margin: 0;
  }
}
