.quiz-card {
  position: relative;
  display: grid;
  gap: var(--quiz-card-gap, 32px);

  border-radius: 24px;
  background-color: #fff;
  padding: var(--quiz-card-padding, 68px 32px);

  &--answered {
    padding-bottom: 32px;
  }

  &--over {
    --quiz-card-gap: 72px;
    justify-content: center;
    padding-block: 32px;
    text-align: center;
  }
}
