.quiz-results-winner {
  margin-inline: auto;
}

.quiz-results-header {
  color: var(--primary-darkest);

  h2 {
    margin: 0;
    font-weight: 700;
    font-size: var(--font-size-fluid-4);
  }
}

.quiz-results-description {
  margin: 0;
  font-size: var(--font-size-2);
  font-weight: 400;

  &__points {
    color: var(--success-light);
    font-size: var(--font-size-6);
    font-weight: 700;
  }
}

.quiz-results-try-again {
  margin-inline: auto;

  --button-bg-hover: var(--primary-darkest);
  --button-outline-color: var(--primary-darkest);
  --button-radius: 12px;
  --button-padding: 18px 60px;
  --button-font-weight: 600;
  outline: solid 2px;
  font-family: inherit;
  font-size: var(--font-size-2);

  &:hover {
    --button-color: #fff;
  }
}
