---
to: vanilla/<%= name %>/src/App.tsx
---

import { Footer, HeaderWithTheme as Header } from "@internal/components";
<% if (locals.ssr == null) { -%>
import "./App.css";
<% } -%>

function App() {
  return (
    <>
      <Header title="<%= h.changeCase.title(name) %>" />
      <main>
        content
      </main>
      <Footer />
    </>
  );
}

export default App;
