---
import "@material-design-icons/font/filled.css";
import "react-loading-skeleton/dist/skeleton.css";
import "@fontsource-variable/montserrat/index.css";
import "@fontsource/montserrat/500.css";
import "@fontsource/montserrat/700.css";
import "@fontsource-variable/raleway/index.css";
import "@fontsource/raleway/400.css";
import "@fontsource/raleway/500.css";
import "@fontsource/raleway/600.css";
import "@fontsource/raleway/700.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Weather App" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Weather App - Legacy DevChallenges</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style lang="scss" is:global>
  @use "@lib/sass-utils/font/sizes/static";
  @use "@lib/sass-utils/mixins" as utils;

  :root {
    @include utils.font-variable("Raleway", sans-serif);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --blue: #1e213a;
    --blue-dark: #110e3c;
    --blue-darkest: #100e1d;
    --primary: #3c47e9;
    --primary-hover: #1925d9;
    --primary-text: var(--text);
    --secondary: #6e707a;
    --secondary-hover: #56575f;
    --secondary-dark: #616475;

    --text: #e7e7eb;
    --text-secondary: #a09fb1;
    --text-dark: #88869d;

    --icon-size: var(--fs-4);

    --credits-text: var(--text-secondary);

    --fs-fluid-7: clamp(2.5rem, 4vw, 3rem);
    --fs-fluid-4-6: clamp(1.5rem, 3.5vw, 2.25rem);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    min-width: 320px;
    background-color: var(--blue-darkest);
    color: var(--text);
  }

  .no-scroll {
    overflow: hidden;
  }

  .react-loading-skeleton {
    --base-color: var(--text-secondary) !important;
    --highlight-color: var(--text) !important;
    width: var(--skeleton-width, 100%);
    height: var(--skeleton-height);
    border-radius: var(--skeleton-radius, 0.25rem);
    aspect-ratio: var(--skeleton-aspect-ratio);
  }

  .flex-1 {
    flex: 1;
  }

  .button {
    cursor: pointer;
  }
</style>
