.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.75em;

  margin: 0;

  font-size: var(--fs-fluid-3-6);
  font-weight: 500;

  p {
    width: 100%;
    margin: 0;
    padding-left: 2.1em;
    border-left: 8px solid #f7df94;

    &::before {
      content: "\201C";
    }
    &::after {
      content: "\201D";
    }
  }

  footer {
    width: 85%;
    margin: 0;
  }
}

.quote-credits {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  background-color: transparent;
  border: none;
  padding: 1.5em 1em;

  --icon-color: var(--text-light);
  text-align: left;
  font-size: 1em;
  font-family: inherit;

  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--bg-hover);
    --author-text: #fff;
    --icon-color: #fff;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__author {
    font-size: var(--fs-4);
    font-weight: 700;
    color: var(--author-text, var(--text-light));
  }

  &__genre {
    font-size: var(--fs-0);
    font-weight: 500;
    color: var(--text-secondary);
  }

  &__arrow {
    margin-left: auto;
    // NOTE: Rem units will be used from next version of @hrc/material-icons
    --icon-size: var(--fs-6);
  }

  &__more-quotes {
    margin-right: 4px;
    font-size: var(--fs-0);
    font-weight: 500;
    text-align: right;
    color: var(--text-secondary);
  }
}
