.main-header {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  padding-block: 1rem;

  --icon-size: var(--fs-4);

  --button-bg: transparent;
  --button-bg-hover: var(--bg-hover);
  --button-bg-disabled: rgb(180 180 180 / 0.75);
  --button-text: var(--text-light);
  --button-text-disabled: rgb(36 36 36 / 0.5);
  .button {
    &:hover,
    &:focus {
      color: #fff;
    }
  }

  .theme-button {
    margin: auto 0;
    --icon-color: #87ceeb;
  }
}
