name: Deploy challenges

on:
  push:
    branches: [master]

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  changed-files:
    runs-on: ubuntu-22.04
    outputs:
      files: ${{ steps.filter.outputs.only_changed }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: tj-actions/changed-files@v44
        id: filter
        with:
          files: |
            _templates/**
            .github/**
            legacy/quote-generator/**
            legacy/weather-app/**
            legacy/github-jobs/**
            !.github/workflows/deploy.yml
            **.md

  build:
    needs: changed-files
    runs-on: ubuntu-22.04
    if: needs.changed-files.outputs.files != 'true'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Pnpm
        uses: pnpm/action-setup@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build challenges
        run: pnpm run build

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist

  deploy:
    needs: build
    runs-on: ubuntu-22.04
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to Github Pages
        id: deployment
        uses: actions/deploy-pages@v4
